# Análisis de Estadísticas Vitales - EEVV

## Integrantes - Grupo 15

- Sara Sofia Cárdenas Rodríguez - 202214907
- Daniel Felipe Diaz Moreno - 202210773
- Juan Sebastián Urrea López - 201914710

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y Manipulación básica de los Datos

In [108]:
# Importaciones de bibliotecas
import pandas as pd

In [109]:
fetal2017 = pd.read_csv("Fetal2017.csv", delimiter=",", encoding="latin1")
fetal2018 = pd.read_csv("Fetal2018.csv", delimiter=",", encoding="latin1")
fetal2021 = pd.read_csv("Fetal2021.csv", delimiter=",", encoding="latin1")
fetal2022 = pd.read_csv("Fetal2022.csv", delimiter=",", encoding="latin1")

print(f"Las dimensiones de Fetal2017 son: {fetal2017.shape}")
print(f"Las dimensiones de Fetal2018 son: {fetal2018.shape}")
print(f"Las dimensiones de Fetal2021 son: {fetal2021.shape}")
print(f"Las dimensiones de Fetal2022 son: {fetal2022.shape}")

Las dimensiones de Fetal2017 son: (44488, 56)
Las dimensiones de Fetal2018 son: (41098, 56)
Las dimensiones de Fetal2021 son: (30709, 44)
Las dimensiones de Fetal2022 son: (28237, 44)

Las variables candidatas descritas en el informe son las siguientes:


**Caracterización de las regiones específicas**

COD_DPTO: Departamento donde ocurrió la defunción 

COD_MUNIC: Municipio donde ocurrió la defunción 

A_DEFUN: Área donde ocurrió la defunción (Cabecera municipal, centro poblado, rural disperso) 

 

**Caracterización de la defunción fetal**

SIT_DEFUN: Sitio donde ocurrió la defunción (Hospital/clínica, centro/puesto de salud, casa/domicilio, lugar de trabajo, via pública) 

ANO: Año en que ocurrió la defunción 

MES: Mes en que ocurrió la defunción 

PMAN_MUER: Probable manera de muerte (Natural, violenta, en estudio) 

MAN_MUER: Probable manera de muerte (violenta) (Suicidio. Homicidio, accidente de tránsito) 

MU_PARTO: La muerte fetal o del menor de un año ocurrió con relación al parto (Antes, durante, después) 

T_PARTO: Tipo de parto - el feto o el menor de un año fallecido nació por parto (Espontáneo, cesárea, instrumentado) 

TIPO_EMB: Multiplicidad - el feto o el menor de un año fallecido nació de un embarazo (Simple, doble, triple, cuádruple o más) 

CONS_EXP: Certificado de defunción expedido por (Médico tratante, médico no tratante, médico legista, personal de salud autorizado, funcionario del registro civil) 

IDPROFCER: Profesión de quien certifica la defunción (Médico, enfermero(a), auxiliar de enfermería, promotor(a) de salud, funcionario del registro civil, médico legista) 

 

**Caracterización clínica de la madre**

N_HIJOSV: Número de hijos nacidos vivos de la madre (incluyendo el presente) 

N_HIJOSM: Número de hijos nacidos muertos de la madre (incluyendo el presente) 

 

**Factores socioeconómicos de los padres**

AREA_RES: Área de residencia habitual del fallecido (para muerte fetal o de menor de un año la el de la madre) 

SEG_SOCIAL: Régimen de seguridad social del fallecido (para muerte fetal, o de menor de un año el de la madre) 

EST_CIVM: Estado conyugal de la madre 

NIV_EDUM: Ultimo nivel de estudio que aprobó la madre 

ULTCURMAD: Último año o grado aprobado de la madre 

 

**Acceso a la atención médica**

ASIS_MED: ¿Recibió asistencia médica durante el proceso que lo llevo a la muerte? 

 

**Caracterización del difunto fetal**

T_GES: Tiempo de gestación 

T_GES_AGRU_CIE: Tiempo de gestación ajustado a la agrupación sugerida por la CIE 

PESO_NAC: Peso al nacer del feto o del menor de un año 

SEXO: Sexo del fallecido

In [ ]:
variablesABuscar = set(["COD_DPTO", "COD_MUNIC", "A_DEFUN", "SIT_DEFUN", "ANO", "MES","PMAN_MUER","MAN_MUER","MU_PARTO","T_PARTO","TIPO_EMB","CONS_EXP","IDPROFCER","N_HIJOSV","N_HIJOSM","AREA_RES","SEG_SOCIAL","EST_CIVM","NIV_EDUM","ULTCURMAD","ASIS_MED","T_GES","T_GES_AGRU_CIE","PESO_NAC","SEXO","C_BAS1"])

columnasFetal2017 = [col for col in fetal2017.columns if col in variablesABuscar]
columnasFetal2018 = [col for col in fetal2018.columns if col in variablesABuscar]
columnasFetal2021 = [col for col in fetal2021.columns if col in variablesABuscar]
columnasFetal2022 = [col for col in fetal2022.columns if col in variablesABuscar]

columnasFetal2017.sort()
columnasFetal2018.sort()
columnasFetal2021.sort()
columnasFetal2022.sort()

print(f"Las columnas de salud2017 son: {columnasFetal2017}")
print(f"Las columnas de salud2018 son: {columnasFetal2018}")
print(f"Las columnas de salud2021 son: {columnasFetal2021}")
print(f"Las columnas de salud2022 son: {columnasFetal2022}")

columnasEnComun = set(columnasFetal2017).intersection(set(columnasFetal2018)).intersection(set(columnasFetal2021)).intersection(set(columnasFetal2022))

print(f"Las columnas en común son: {columnasEnComun}")
print(f"Las columnas que no estan en todos los datasets son: {variablesABuscar - columnasEnComun}")

Las columnas de salud2017 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'OTRSITIODE', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2018 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'OTRSITIODE', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2021 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'OTRSITIODE', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2022 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'OTRSITIODE', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas en común son: {'AREA_RES', 'SEXO', 'ULTCURMAD', 'CONS_EXP', 'MU_PARTO', 'COD_DPTO', 'MES', 'SIT_DEFUN', 'C_BAS1', 'SEG_SOCIAL', 'A_DEFUN', 'IDPROFCER', 'N_HIJOSM', 'ASIS_MED', 'T_GES', 'T_PARTO', 'TIPO_EMB', 'PESO_NAC', 'EST_CIVM', 'COD_MUNIC', 'ANO', 'T_GES_AGRU_CIE', 'NIV_EDUM', 'N_HIJOSV', 'OTRSITIODE'}
Las columnas que no estan en todos los datasets son: {'PMAN_MUER', 'MAN_MUER'}

Al revisar los diccionarios de datos se puede apreciar que los atributos 'PMAN_MUER' y 'MAN_MUER' de los años 2017 y 2018, se unieron en el atributo P_PMAN_IRIS para los años 2021 y 2022. Para facilitar el analisis posterior, se tendra en cuenta entonces unicamente PMAN_MUER para 2017 y 2018 y P_PMAN_IRIS para 2021 y 2022, esto debido a que usar tambien la información MAN_MUER involucraria tener que combinar la información de 'PMAN_MUER' y 'MAN_MUER'.

In [111]:
columnasFetal2017.remove("MAN_MUER")
columnasFetal2018.remove("MAN_MUER")
columnasFetal2017.remove("PMAN_MUER")
columnasFetal2018.remove("PMAN_MUER")



columnasFetal2017.append("P_PMAN_IRIS")
columnasFetal2018.append("P_PMAN_IRIS")
columnasFetal2021.append("P_PMAN_IRIS")
columnasFetal2022.append("P_PMAN_IRIS")

In [112]:
fetal2017.rename(columns = {"PMAN_MUER": "P_PMAN_IRIS"}, inplace=True)
fetal2018.rename(columns = {"PMAN_MUER": "P_PMAN_IRIS"}, inplace=True)

Con esto, a continuación se presenta una muestra para cada uno de los archivos de datos disponibles.

In [113]:
fetal2017[columnasFetal2017].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
387,2017,1.0,1,1,54,1,2,P018,9,1,...,1,1,3,1,5,1,1,1,99,NaN
41696,2017,1.0,1,1,23,1,3,P018,9,1,...,9,9,2,1,1,1,1,3,99,1.0
13566,2017,1.0,1,1,11,1,1,P014,5,1,...,9,2,3,1,5,1,1,1,5,NaN
24309,2017,1.0,1,1,47,288,2,P018,1,1,...,9,2,3,1,5,1,1,3,9,NaN
43260,2017,1.0,1,1,13,1,2,P018,6,1,...,1,1,3,1,1,1,1,1,5,NaN
17486,2017,3.0,1,1,44,847,1,P200,2,1,...,3,2,1,1,1,9,9,1,99,NaN
38386,2017,1.0,1,1,52,227,2,P059,2,1,...,1,5,1,6,1,2,2,1,4,NaN
3729,2017,1.0,1,1,11,1,1,P964,2,1,...,5,2,1,1,1,3,3,1,9,NaN
42507,2017,1.0,1,1,8,1,2,P022,1,1,...,1,5,3,1,1,1,1,1,5,NaN
37940,2017,2.0,1,1,70,713,1,P008,1,1,...,1,2,1,1,2,2,2,1,5,NaN

In [114]:
fetal2018[columnasFetal2018].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
3219,2018,1.0,1,1,76,834,2,P018,2,1,...,1,2,3,1,1,1,1,1,9,NaN
15399,2018,1.0,1,1,70,1,1,P018,5,1,...,9,1,3,1,1,1,1,3,5,NaN
16229,2018,1.0,1,1,68,1,1,P964,9,1,...,1,1,3,1,5,9,9,1,99,NaN
20687,2018,1.0,1,1,11,1,1,P018,6,1,...,9,5,3,1,1,1,1,4,5,NaN
26109,2018,9.0,2,1,23,1,3,P200,9,1,...,2,9,2,1,1,3,3,3,99,1.0
17819,2018,1.0,1,1,11,1,1,P018,2,1,...,1,5,1,1,1,1,1,1,11,NaN
6790,2018,1.0,1,1,50,1,2,P018,1,1,...,1,2,3,1,1,1,1,1,3,NaN
8424,2018,1.0,1,1,11,1,1,P018,1,1,...,1,2,3,1,1,1,1,1,4,NaN
22714,2018,1.0,1,1,11,1,1,P018,1,1,...,1,1,1,1,1,1,1,1,10,NaN
30668,2018,1.0,1,1,5,1,1,P95,1,1,...,1,1,3,1,1,1,1,1,7,NaN

In [115]:
fetal2021[columnasFetal2021].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
28835,2021,1.0,1,1,52,356,1,P018,5,1,...,1,1,3,1,1,1,1,1,3,NaN
30694,2021,1.0,1,1,86,568,1,P018,6,1,...,1,2,3,1,1,1,1,1,5,NaN
25256,2021,1.0,1,1,11,1,1,Q792,5,1,...,1,1,1,1,1,2,2,1,11,NaN
14026,2021,1.0,1,1,86,1,1,P018,6,1,...,1,1,3,1,1,1,1,1,5,NaN
2441,2021,1.0,1,1,86,1,2,P018,6,1,...,1,2,3,1,1,1,1,1,9,NaN
23218,2021,1.0,1,1,86,1,1,P018,5,1,...,1,5,1,1,1,1,1,1,11,0.0
20909,2021,1.0,1,1,23,1,2,P200,1,1,...,1,2,1,1,1,3,3,2,11,NaN
6178,2021,1.0,1,1,5,1,1,P018,1,1,...,1,1,3,1,5,1,1,1,11,NaN
11837,2021,1.0,1,1,11,1,1,P018,1,1,...,1,1,1,1,2,1,1,1,11,NaN
25964,2021,1.0,1,1,11,1,1,P018,1,1,...,1,1,3,1,1,1,1,1,9,NaN

In [116]:
fetal2022[columnasFetal2022].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
8077,2022,1.0,1,1,23,1,1,P018,2,1,...,1.0,2,3,1,1,1,1,1,11,0.0
25541,2022,1.0,1,1,76,1,2,P018,1,1,...,1.0,1,3,1,1,1,1,1,2,NaN
25964,2022,1.0,1,1,11,1,1,P964,1,1,...,1.0,2,3,1,1,1,1,1,11,0.0
17034,2022,1.0,1,1,11,1,1,P018,5,1,...,1.0,1,3,1,1,9,9,1,11,0.0
17707,2022,1.0,1,1,41,1,1,P022,1,1,...,1.0,1,2,1,1,3,3,1,7,0.0
8395,2022,1.0,1,1,11,1,1,P018,2,1,...,1.0,1,3,1,1,1,1,1,3,NaN
19797,2022,1.0,1,1,50,1,1,P018,5,1,...,1.0,1,3,1,1,1,1,1,11,NaN
26456,2022,3.0,1,1,73,1,1,P832,1,1,...,1.0,2,3,1,1,1,1,1,5,0.0
16801,2022,1.0,1,1,8,1,1,P200,6,1,...,1.0,1,3,1,1,1,1,4,5,0.0
5960,2022,1.0,1,1,41,396,1,P018,5,1,...,1.0,2,3,1,1,9,9,1,5,NaN

Posteriormente, se muestra el tipo de dato para cada atributo por cada archivo de datos.

In [117]:
fetal2017[columnasFetal2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44488 entries, 0 to 44487
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             44488 non-null  int64
 1   AREA_RES        44360 non-null  float64
 2   ASIS_MED        44488 non-null  int64
 3   A_DEFUN         44488 non-null  int64
 4   COD_DPTO        44488 non-null  int64
 5   COD_MUNIC       44488 non-null  int64
 6   CONS_EXP        44488 non-null  int64
 7   C_BAS1          44488 non-null  object
 8   EST_CIVM        44488 non-null  int64
 9   IDPROFCER       44488 non-null  int64
 10  MES             44488 non-null  int64
 11  MU_PARTO        44488 non-null  int64
 12  NIV_EDUM        44488 non-null  int64
 13  N_HIJOSM        44488 non-null  int64
 14  N_HIJOSV        44487 non-null  float64
 15  OTRSITIODE      73 non-null     object
 16  PESO_NAC        44488 non-null  int64
 17  SEG_SOCIAL      44488 non-null  int64
 18  SEXO            44488 non-null  int64
 19  SIT_DEFUN       44488 non-null  int64
 20  TIPO_EMB        44488 non-null  int64
 21  T_GES           44488 non-null  int64
 22  T_GES_AGRU_CIE  44488 non-null  int64
 23  T_PARTO         44488 non-null  int64
 24  ULTCURMAD       44488 non-null  int64
 25  P_PMAN_IRIS     355 non-null    float64
dtypes: float64(3), int64(21), object(2)
memory usage: 8.8+ MB

In [118]:
fetal2018[columnasFetal2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41098 entries, 0 to 41097
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             41098 non-null  int64
 1   AREA_RES        40689 non-null  float64
 2   ASIS_MED        41098 non-null  int64
 3   A_DEFUN         41098 non-null  int64
 4   COD_DPTO        41098 non-null  int64
 5   COD_MUNIC       41098 non-null  int64
 6   CONS_EXP        41098 non-null  int64
 7   C_BAS1          41098 non-null  object
 8   EST_CIVM        41098 non-null  int64
 9   IDPROFCER       41098 non-null  int64
 10  MES             41098 non-null  int64
 11  MU_PARTO        41098 non-null  int64
 12  NIV_EDUM        41098 non-null  int64
 13  N_HIJOSM        41098 non-null  int64
 14  N_HIJOSV        41098 non-null  int64
 15  OTRSITIODE      75 non-null     object
 16  PESO_NAC        41098 non-null  int64
 17  SEG_SOCIAL      41098 non-null  int64
 18  SEXO            41098 non-null  int64
 19  SIT_DEFUN       41098 non-null  int64
 20  TIPO_EMB        41098 non-null  int64
 21  T_GES           41098 non-null  int64
 22  T_GES_AGRU_CIE  41098 non-null  int64
 23  T_PARTO         41098 non-null  int64
 24  ULTCURMAD       41098 non-null  int64
 25  P_PMAN_IRIS     366 non-null    float64
dtypes: float64(2), int64(22), object(2)
memory usage: 8.2+ MB

In [119]:
fetal2021[columnasFetal2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30709 entries, 0 to 30708
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             30709 non-null  int64
 1   AREA_RES        30076 non-null  float64
 2   ASIS_MED        30709 non-null  int64
 3   A_DEFUN         30709 non-null  int64
 4   COD_DPTO        30709 non-null  int64
 5   COD_MUNIC       30709 non-null  int64
 6   CONS_EXP        30709 non-null  int64
 7   C_BAS1          30709 non-null  object
 8   EST_CIVM        30709 non-null  int64
 9   IDPROFCER       30709 non-null  int64
 10  MES             30709 non-null  int64
 11  MU_PARTO        30709 non-null  int64
 12  NIV_EDUM        30709 non-null  int64
 13  N_HIJOSM        30709 non-null  int64
 14  N_HIJOSV        30709 non-null  int64
 15  OTRSITIODE      89 non-null     object
 16  PESO_NAC        30709 non-null  int64
 17  SEG_SOCIAL      30709 non-null  int64
 18  SEXO            30709 non-null  int64
 19  SIT_DEFUN       30709 non-null  int64
 20  TIPO_EMB        30709 non-null  int64
 21  T_GES           30709 non-null  int64
 22  T_GES_AGRU_CIE  30709 non-null  int64
 23  T_PARTO         30709 non-null  int64
 24  ULTCURMAD       30709 non-null  int64
 25  P_PMAN_IRIS     6639 non-null   float64
dtypes: float64(2), int64(22), object(2)
memory usage: 6.1+ MB

In [120]:
fetal2022[columnasFetal2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28237 entries, 0 to 28236
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             28237 non-null  int64
 1   AREA_RES        27895 non-null  float64
 2   ASIS_MED        28237 non-null  int64
 3   A_DEFUN         28237 non-null  int64
 4   COD_DPTO        28237 non-null  int64
 5   COD_MUNIC       28237 non-null  int64
 6   CONS_EXP        28237 non-null  int64
 7   C_BAS1          28237 non-null  object
 8   EST_CIVM        28237 non-null  int64
 9   IDPROFCER       28237 non-null  int64
 10  MES             28237 non-null  int64
 11  MU_PARTO        28237 non-null  int64
 12  NIV_EDUM        28237 non-null  int64
 13  N_HIJOSM        28237 non-null  int64
 14  N_HIJOSV        28237 non-null  int64
 15  OTRSITIODE      67 non-null     object
 16  PESO_NAC        28233 non-null  float64
 17  SEG_SOCIAL      28237 non-null  int64
 18  SEXO            28237 non-null  int64
 19  SIT_DEFUN       28237 non-null  int64
 20  TIPO_EMB        28237 non-null  int64
 21  T_GES           28237 non-null  int64
 22  T_GES_AGRU_CIE  28237 non-null  int64
 23  T_PARTO         28237 non-null  int64
 24  ULTCURMAD       28237 non-null  int64
 25  P_PMAN_IRIS     19303 non-null  float64
dtypes: float64(3), int64(21), object(2)
memory usage: 5.6+ MB

Finalmente, se unen los 4 datasets en uno unico, para facilitar el analisis de los datos

In [121]:
fetal_df = pd.concat([fetal2017[columnasFetal2017], fetal2018[columnasFetal2018], fetal2021[columnasFetal2021], fetal2022[columnasFetal2022]], axis=0)
fetal_df.reset_index(drop=True, inplace=True)
fetal_df.sample(30)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
53988,2018,1.0,1,1,41,1,1,P018,1,1,...,1.0,2,3,1,1,1,1,1,11,NaN
72898,2018,1.0,1,1,11,1,2,P018,1,1,...,1.0,5,3,1,5,1,1,1,9,NaN
64920,2018,1.0,1,1,54,1,1,P200,1,1,...,1.0,2,3,1,1,1,1,1,9,NaN
57036,2018,1.0,1,1,11,1,1,P018,5,1,...,1.0,2,3,1,1,9,9,1,8,NaN
50109,2018,1.0,1,1,23,1,2,P018,1,1,...,1.0,2,3,1,1,1,1,1,3,NaN
114980,2021,1.0,1,1,11,1,1,P018,1,1,...,1.0,2,3,1,1,1,1,3,11,0.0
58483,2018,1.0,1,1,73,268,1,P018,6,1,...,1.0,2,3,1,1,1,1,1,11,NaN
2628,2017,1.0,1,1,8,1,2,P022,1,1,...,1.0,2,3,1,1,1,1,1,7,NaN
34850,2017,1.0,1,1,54,1,2,P000,5,1,...,1.0,2,3,1,1,2,2,3,11,NaN
27158,2017,1.0,1,1,73,168,2,P002,1,1,...,6.0,2,2,1,1,3,3,1,9,NaN
66256,2018,3.0,1,1,18,1,1,P018,1,1,...,1.0,5,3,1,1,1,1,1,11,NaN
126418,2022,1.0,1,1,11,1,1,P021,1,1,...,6.0,5,1,1,1,3,4,2,11,NaN
136337,2022,1.0,1,1,11,1,2,P018,2,1,...,1.0,2,1,1,1,1,1,1,9,0.0
76624,2018,1.0,1,1,11,1,2,P022,1,1,...,1.0,1,1,1,1,1,1,1,9,NaN
37165,2017,1.0,1,1,5,129,1,P011,2,1,...,1.0,2,2,1,1,1,1,1,11,NaN
104610,2021,1.0,1,1,41,551,1,P018,1,1,...,1.0,2,3,1,5,1,1,1,6,NaN
34907,2017,1.0,1,1,73,268,1,P018,5,1,...,1.0,2,3,1,1,1,1,1,10,NaN
139016,2022,1.0,1,1,68,1,1,P014,1,1,...,1.0,1,3,1,1,9,9,2,11,0.0
125570,2022,1.0,1,1,27,1,2,P027,1,1,...,1.0,1,2,1,1,2,2,1,11,NaN
109413,2021,NaN,2,1,25,473,3,P964,9,1,...,1.0,9,3,6,5,1,1,3,99,0.0
75030,2018,1.0,1,1,5,1,2,P018,1,1,...,1.0,1,3,1,1,1,1,1,5,NaN
82842,2018,1.0,1,1,11,1,2,P200,2,1,...,4.0,1,2,1,1,3,3,1,11,NaN
1887,2017,1.0,1,1,54,1,1,P018,1,1,...,9.0,2,3,1,1,1,1,3,9,NaN
93918,2021,3.0,1,1,18,1,1,P018,2,1,...,1.0,2,3,1,5,1,1,3,11,NaN
5482,2017,1.0,1,1,25,754,2,P018,1,1,...,9.0,2,3,1,5,1,1,3,5,NaN
116438,2022,1.0,1,1,11,1,1,P018,5,1,...,1.0,1,3,1,5,1,1,1,5,0.0
100088,2021,1.0,1,1,23,1,2,P018,1,1,...,1.0,2,3,1,1,1,1,1,11,NaN
106148,2021,1.0,1,1,8,1,2,P018,5,1,...,1.0,1,3,1,1,9,9,1,11,NaN
34336,2017,1.0,1,1,47,1,1,P018,5,1,...,1.0,5,3,1,5,9,9,1,4,NaN
8021,2017,3.0,1,1,50,1,1,P017,1,1,...,6.0,2,1,1,1,4,4,2,99,NaN

## 2. Entendimiento de los datos

## 2.1. Análisis de calidad de datos

## 2.1.1. Análisis de completitud
A continuación, se presentan los porcentajes de completitud e incompletitud para cada uno de los atributos.

In [122]:
porcentajeIncompletitudAtributo =  (100 * fetal_df.isnull().sum() / fetal_df.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Atributo": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
    "Incompletitud (%)": porcentajeIncompletitudAtributo.values
})

          Atributo  Completitud (%)  Incompletitud (%)
0       OTRSITIODE         0.210334          99.789666
1      P_PMAN_IRIS        18.447818          81.552182
2         AREA_RES        98.953865           1.046135
3         PESO_NAC        99.997232           0.002768
4         N_HIJOSV        99.999308           0.000692
5        COD_MUNIC       100.000000           0.000000
6         ASIS_MED       100.000000           0.000000
7          A_DEFUN       100.000000           0.000000
8         COD_DPTO       100.000000           0.000000
9              ANO       100.000000           0.000000
10       IDPROFCER       100.000000           0.000000
11        EST_CIVM       100.000000           0.000000
12          C_BAS1       100.000000           0.000000
13        CONS_EXP       100.000000           0.000000
14        N_HIJOSM       100.000000           0.000000
15        NIV_EDUM       100.000000           0.000000
16        MU_PARTO       100.000000           0.000000
17             MES       100.000000           0.000000
18      SEG_SOCIAL       100.000000           0.000000
19            SEXO       100.000000           0.000000
20        TIPO_EMB       100.000000           0.000000
21       SIT_DEFUN       100.000000           0.000000
22           T_GES       100.000000           0.000000
23  T_GES_AGRU_CIE       100.000000           0.000000
24         T_PARTO       100.000000           0.000000
25       ULTCURMAD       100.000000           0.000000

Se puede ver que los atributos mas incompletos P_PMAN_IRIS y OTRSITIODE. Por el lado de P_PMAN_IRIS probablemente se deba a que este atributo en este analisis no representa la informacion total, debido a que se tuvo que omitir el atributo MAN_MUER.

## 2.1.2. Análisis de unicidad
A continuación, se buscará determinar cuántas filas duplicadas hay en el dataset

In [123]:
registrosDuplicados = fetal_df.duplicated()
totalDuplicados = registrosDuplicados.sum()
totalOpiniones = fetal_df.shape[0]
porcentajeDuplicados = 100.0 * totalDuplicados / totalOpiniones
print(f"Se cuenta con {totalDuplicados} registros duplicados ({porcentajeDuplicados:.2f}%)")

Se cuenta con 9305 registros duplicados (6.44%)

Los datos presentan un alto porcentaje de duplicados, lo cual se debe a que se cuenta con un subconjunto muy limitado de los atributos totales, teniendo cada uno de estos valores una lista de posibles valores corta y que estan muy relacionadas entre si. Por estas razones, no se deberia realizar preparacion de datos con respecto a problemas de unicidad.

## 2.1.3. Análisis de validez
De acuerdo al diccionario de datos del año 2022, se deberian tener los siguientes posibles valores por cada atributo:

** ¿Está embarazada? **
1 Si
2 No

** ¿Asiste a control prenatal? **
1 Sí
2 No
3 No está embarazada

** ¿Está afiliado? **
1 Si
2 No
9 No sabe, no informa


** ¿A qué regimen está afiliado? **
1 Contributivo (eps)
2 Especial (fuerzas armadas, ecopetrol, universidades públicas, magisterio)
3 Subsidiado (eps-s)
9 No sabe, no informa

** ¿Cómo es la calidad del servicio? **
1 Muy buena
2 Buena
3 Mala
4 Muy mala
9 No sabe

** ¿Por qué no está afiliado? **
1 Por falta de dinero
2 Muchos trámites
3 No le interesa o descuido
4 No sabe que debe afiliarse
5 No está vinculado/a laboralmente a una empresa o entidad (Usted o la persona de la que es beneficiario/a)
6 Está en trámite de afiliación
7 Problemas con el Sisben (no lo/a han visitado, afiliado/a en otro municipio, lo/a desvincularon, le asignaron puntaje alto)
8 Falta de documentación
9 Otra razón

In [124]:
for col in fetal_df:
    print(col, ":", fetal_df[col].unique())

ANO : [2017 2018 2021 2022]
AREA_RES : [ 1.  3.  2.  9. nan]
ASIS_MED : [1 2 3 9]
A_DEFUN : [1 3 2 9]
COD_DPTO : [18  5 41 76 68 54 73 47 50 70 11 25 20 91 13 27 95 86 17 52 63  8 23 19
 81 94 15 44 66 85 88 99 97]
COD_MUNIC : [410 837 551 834 109   1 288 890 269 396 490 147 798 520 276 568 380 498
 835 318 653 736 356 843 111 405  11 560 430 399 360 307 313 320  34 268
 279 238 899 754 615 162 386 650 175 655 573 473 190   6 758 874 698 614
 638 140 170 887 220  45 847 555 189  75 810 244 572 411 322 679 417 480
 892 794 174 744 349 286  81 592 215 873 172 176 433 787 861 432 513 450
 518 205 797 683 129 678 517 298 821  53 247 755 283 250 364 720 154 612
  13 647  90  60 708 377 547 168 671 427 809  50 266 290 759 400 299 219
 710 230 142 491 101 130 799 591 151 306 212 110 223 757 696 662  25 682
 770 245  93 579  88 455 300 895 548 685 227 376 577 580 440 408 124 860
 856  42 885 686 569 820 418 753 980 150 875 317 284 707 610 838  20 675
 570 494 475 660  22 665 659  32 308 604 466 183 355 506 865 542 442 325
 616 469 785 137 855 815 773 401 790 148  68  41 549 233 113 883 622 807
 370 585 532  67 670 743 234 565 500 258 863  58 256 750 397 126 468 497
  35 483 296 540 275 563 742 390 668   2 574 206 780 297 361 152  79 666
 429 185 240  31  51 654 265 460 263 524 824 541 226 444 178 378 693 210
 699 713 209 606 246 287 681 687 458 255 756 251 508 350 141 800 319 817
 122 343 836 188 822 248 522 599 237  65 672 893 688 464  47 470 438 421
 828 690  30 132 533 207 403 776 792 621 791 594 504 642 571 352 884 100
 523 511 663 261 270 667 228 760 692 413 689  62 402 530 321 656 624  99
 161  78 649 235 872 357 344 645 125 425 845 495 315 449 673 575  91 657
 394 634 676 200  40 347  43 236 456 135 182 723 761 553  77 823 772 120
  16 406 842 134  10 680 871  26  73 167 771 664 590 407 786 550 419 461
 543 858 332  55  52  19 443 711 295 385 886 502 745  94 359 607 367 717
 628 217 293 282 310 877 221  36 718 123 139 330 435 777 239 531 383 854
 426 128 600 302 368 254  92 814 669  86 788 658 960 486 894 160 596 867
 705]
CONS_EXP : [1 2 3 4]
C_BAS1 : ['P038' 'P700' 'P018' 'P95' 'P022' 'P010' 'P001' 'P014' 'Q000' 'P964'
 'P200' 'P000' 'P021' 'P012' 'Q909' 'Q897' 'P011' 'P027' 'P059' 'P832'
 'P020' 'P036' 'Q899' 'Q250' 'P025' 'P002' 'Q999' 'P008' 'Q799' 'P015'
 'P019' 'P009' 'P026' 'P399' 'Q606' 'P209' 'P371' 'Q931' 'A509' 'Q039'
 'Q070' 'Q913' 'Q030' 'Q917' 'P701' 'Q969' 'P524' 'P023' 'P024' 'Q079'
 'P005' 'Q929' 'Q249' 'Q040' 'Q793' 'P392' 'P031' 'Q998' 'Q078' 'Q792'
 'Q042' 'P550' 'P788' 'Q798' 'P003' 'Q02' 'Q339' 'Q759' 'Q790' 'Q031'
 'P201' 'P004' 'P034' 'Q795' 'P509' 'P77' 'P558' 'Q049' 'Q225' 'Q602'
 'P239' 'Q336' 'Q898' 'Q794' 'P017' 'Q605' 'Q601' 'Q210' 'Q878' 'Q620'
 'Q209' 'Q613' 'Q213' 'Q059' 'Q804' 'Q270' 'P960' 'P013' 'Q019' 'P529'
 'Q614' 'Q048' 'P378' 'Q433' 'Q038' 'Q248' 'Q043' 'P833' 'P041' 'Q960'
 'Q234' 'P559' 'P082' 'P293' 'P560' 'Q872' 'Q330' 'Q639' 'Q068' 'Q226'
 'P029' 'P569' 'Q321' 'P039' 'Q012' 'P618' 'P045' 'P60' 'Q201' 'Q046'
 'Q430' 'Q600' 'P298' 'Q189' 'P614' 'Q069' 'Q203' 'P044' 'Q632' 'P525'
 'Q259' 'Q057' 'Q513' 'Q052' 'P035' 'P528' 'P271' 'Q410' 'Q011' 'Q390'
 'Q204' 'P968' 'P016' 'Q018' 'Q753' 'Q105' 'P352' 'Q750' 'P359' 'P030'
 'Q459' 'Q529' 'D181' 'Q282' 'Q403' 'P398' 'Q219' 'Q894' 'Q240' 'Q438'
 'P508' 'Q992' 'P081' 'Q349' 'Q649' 'Q439' 'Q338' 'Q419' 'Q758' 'Q251'
 'P028' 'Q211' 'P251' 'Q200' 'Q447' 'P080' 'P048' 'P269' 'Q811' 'P270'
 'Q333' 'Q409' 'Q401' 'Q223' 'Q289' 'Q647' 'Q256' 'P708' 'Q208' 'Q230'
 'Q771' 'Q442' 'P006' 'P551' 'P351' 'P373' 'Q001' 'Q332' 'Q279' 'Q642'
 'Q962' 'Q220' 'P043' 'Q228' 'P599' 'Q431' 'Q423' 'P046' 'Q055' 'Q212'
 'P280' 'Q369' 'P049' 'D151' 'Q054' 'Q927' 'Q221' 'Q002' 'Q978' 'Q791'
 'Q045' 'P523' 'Q372' 'Q058' 'D367' 'Q182' 'Q379' 'Q224' 'P501' 'Q378'
 'Q870' 'Q458' 'Q780' 'Q263' 'Q623' 'Q893' 'Q627' 'Q638' 'P042' 'Q890']
EST_CIVM : [5 9 1 2 6 4 3]
IDPROFCER : [1 6 9 3 2 4 5]
MES : [12 11  9 10  8  7  3  1  2  4  5  6]
MU_PARTO : [2 1 4 9]
NIV_EDUM : [99  3  4  9  5  7  2  8 10 11 13  1  6 12]
N_HIJOSM : [ 1  3  2  4 99  5  6 14 11  8  9  7 10 12 13  0]
N_HIJOSV : [ 0.  2.  1.  6.  3.  4.  5. 99.  8.  7. 11. 12.  9. 10. nan 13. 14. 15.]
OTRSITIODE : [nan 'BOSQUE BALDIO POTRERO' 'RIO ARROYO HUMEDAL RONDA LAGO EMBALSE'
 'CAPILLA IGLESIA SITIO DE CULTO' 'CENTROS HOSPITALARIOS' 'TAXI'
 'RESTAURANTE PUBLICO' 'ZONA RURAL DISPERSA' 'COMEDAL' 'AMBULANCIA'
 'LABORATORIO DEPARTAMENTAL DE PATOLOGIA UDEA'
 'AL INTERIOR DE LA QUEBRADA LA BERMEJALA' 'COLEGIO' 'LOTE' 'ambulancia'
 'area rural' 'EN EL TRANSPORTE DE LA CASA AL HOSPITAL'
 'AMBULANCIA ACUATICA' 'FINCA EL VERGEL' 'casino' 'CAÑO' 'HOTEL' 'CALLE'
 'IPS EL RECREO' 'GALERIA' 'vereda arrayan' 'via al mar' 'CARMEN CARUPA'
 'HOSPITAL CIVIL IPIALES' 'CAMPO ABIERTO' 'PARQUE CALDAS'
 'AMBULANCIA DE PLANADAS' 'OTRO LUGAR ESPECIFICADO'
 'AMBULANCIA - TRANSPORTE SANITARIO' 'AMBULANCIA DE TRASLADO'
 'SUPERMERCADOS ALMACENES TIENDAS' 'RUTA FLUVIAL' 'CENTRO COMERCIAL'
 'DISPENSARIO MEDICO DE BUCARAMANGA' 'OTROS' 'NSNR - SIN INFORMACIÓN'
 'VIVIENDA' 'AREA RURAL' 'PURAL' 'AREA DE CULTIVO' 'PRISIÓNREFORMATORIOS'
 'VEREDA MARIA JESUS' 'ZONA RURAL' 'VEHÍCULO' 'CAMPO' 'vehiculo'
 'PARQUEADERO ESTACIONAMIENTO' 'CARRTERETA VIA ISABI'
 'CARRETERA VIA ISABI' 'carro' 'caño'
 'PLANTA DE ENERGIA TERMICA HIDRICA COMBUSTIBLE'
 'RESTAURANTES ASADEROS SALSAMENTARIAS' 'CENTROS EDUCATIVOS' 'CARRETERA'
 'CASA DE PASO' 'AMBULANCIA ACACIAS' 'AUTOMÓVIL DE CAMINO AL HOSPITAL'
 'AMBULACIA' 'VIA PUBLICA' 'CONSULTORIO CLANDESTINO' 'HOGAR DE PASO'
 'FABRICA PLANTA INDUSTRIAL' 'LANCHA' 'CARRO' 'AUTOMOVIL' 'AVION'
 'COMUNIDAD UNCACIAS' 'LUGAR PUBLICO SIN OTRA INDICACIÓN'
 'HOGAR DE LA PARTERA MYRIAM GUZMAN' 'BAÑO' 'CASA' 'carretera'
 'PUENTE DE SAN JOSE DEL GUAVIARE' 'VEREDA LA ALDEA' 'TRASLADO PRIMARIO'
 'AREA INDUSTRIAL Y DE LA CONSTRUCCIÓN' 'BOMBAS GASOLINA'
 'BARRIO EL POBLADO' 'PANGA' 'PARQUE' 'CENTRO DE SALUD DE HERRERA'
 'EN UN BARCO' 'FINCA' 'BONGO' 'LANCHA AMBULANCIA' 'NAPIPI'
 'MONTAÑA COLINA' 'REMISION' 'CCENTRO DE SALUD' 'AMBULANCIA AEREA VICHADA'
 'CASA PARTERA' 'VEREDA  PUERTO DECIL' 'TRANSPORTE FLUVIAL'
 'HOSPEDAJES HOTELES RESIDENCIAS MOTELES' 'DOMICILIO' 'VEREDA SAN MARTIN'
 'HACIENDA' 'ambulancia institucional' 'ALBERGUE' 'CASA DE LA PARTERA'
 'VIRREY SOLIS SOCHA' 'MUERTE PERINATAL' 'IBAGUE'
 'DURANTE EL TRASLADO HACIA ESTA UNIDAD BASICA' 'AVIONETA' 'desconocido'
 'Ambulancia' 'por guineo' 'VEREDA LA CABAÑA' 'DESCONOCIDO'
 'EN EL TRAYECTO FLUVIAL DE LA CANOA' 'Centro medico'
 'ambulancia institucional ' 'SEVILLA' 'AMBULANCIA TRASLADO'
 'RESGUARDO SARACURE' 'Centro medico ' 'ambulancia '
 'BARES TABERNAS CANTINAS']
PESO_NAC : [ 6.  1.  5.  8.  9.  3.  2.  7.  4. nan]
SEG_SOCIAL : [2 1 3 5 9 4]
SEXO : [2 1 3]
SIT_DEFUN : [2 1 3 5 9 6 4]
TIPO_EMB : [1 5 2 9 4 3]
T_GES : [4 1 3 9 2 5 6]
T_GES_AGRU_CIE : [4 1 3 9 2 5 6]
T_PARTO : [1 2 3 4 9]
ULTCURMAD : [99  9 11  5  2  7  8  6  3 10  4  1  0 13]
P_PMAN_IRIS : [nan  2.  3.  1.  0.  5.  6.  4.]

De acuerdo con los resultados anteriores, no se debería realizar preparación de datos con problemas de validez, pues todos los valores de los atributos son aceptables.

## 2.1.4. Análisis de consistencia

El único problema de consistencia se mencionó en la sección 1, donde en una pareja de conjuntos de datos se tenia el atributo "¿ha estado embarazada alguna vez en su vida? (P3335)" mientras que otra pareja tenia el atributo 
"¿Está embarazada actualmente o ha tenido hijos? (P5672)" que en escencia hacian referencia a lo mismo. No se identificaron mas tareas a realizar por parte de problemas de consistencias.

# 3. Resumen de los cambios realizados