# Análisis de Estadísticas Vitales - EEVV

## Integrantes - Grupo 15

- Sara Sofia Cárdenas Rodríguez - 202214907
- Daniel Felipe Diaz Moreno - 202210773
- Juan Sebastián Urrea López - 201914710

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y Manipulación básica de los Datos

In [409]:
# Importaciones de bibliotecas
import pandas as pd
import numpy as np
!pip  install xlrd

Requirement already satisfied: xlrd in c:\users\danie\appdata\local\programs\python\python312\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [410]:
fetal2017 = pd.read_csv("Fetal2017.csv", delimiter=",", encoding="latin1")
fetal2018 = pd.read_csv("Fetal2018.csv", delimiter=",", encoding="latin1")
fetal2021 = pd.read_csv("Fetal2021.csv", delimiter=",", encoding="latin1")
fetal2022 = pd.read_csv("Fetal2022.csv", delimiter=",", encoding="latin1")

print(f"Las dimensiones de Fetal2017 son: {fetal2017.shape}")
print(f"Las dimensiones de Fetal2018 son: {fetal2018.shape}")
print(f"Las dimensiones de Fetal2021 son: {fetal2021.shape}")
print(f"Las dimensiones de Fetal2022 son: {fetal2022.shape}")

Las dimensiones de Fetal2017 son: (44488, 56)
Las dimensiones de Fetal2018 son: (41098, 56)
Las dimensiones de Fetal2021 son: (30709, 44)
Las dimensiones de Fetal2022 son: (28237, 44)

Las variables candidatas descritas en el informe son las siguientes:

COD_DPTO: Departamento donde ocurrió la defunción 

COD_MUNIC: Municipio donde ocurrió la defunción 

A_DEFUN: Área donde ocurrió la defunción (Cabecera municipal, centro poblado, rural disperso) 

SIT_DEFUN: Sitio donde ocurrió la defunción (Hospital/clínica, centro/puesto de salud, casa/domicilio, lugar de trabajo, via pública) 

ANO: Año en que ocurrió la defunción 

MES: Mes en que ocurrió la defunción 

PMAN_MUER: Probable manera de muerte (Natural, violenta, en estudio) 

MAN_MUER: Probable manera de muerte (violenta) (Suicidio. Homicidio, accidente de tránsito) 

C_BAS1: Código de la causa Básica de la defunción 

MU_PARTO: La muerte fetal o del menor de un año ocurrió con relación al parto (Antes, durante, después) 

T_PARTO: Tipo de parto - el feto o el menor de un año fallecido nació por parto (Espontáneo, cesárea, instrumentado) 

TIPO_EMB: Multiplicidad - el feto o el menor de un año fallecido nació de un embarazo (Simple, doble, triple, cuádruple o más) 

CONS_EXP: Certificado de defunción expedido por (Médico tratante, médico no tratante, médico legista, personal de salud autorizado, funcionario del registro civil) 

IDPROFCER: Profesión de quien certifica la defunción (Médico, enfermero(a), auxiliar de enfermería, promotor(a) de salud, funcionario del registro civil, médico legista) 

N_HIJOSV: Número de hijos nacidos vivos de la madre (incluyendo el presente) 

N_HIJOSM: Número de hijos nacidos muertos de la madre (incluyendo el presente) 
 
EDAD_MADRE: Edad de la madre del feto o del menor de un año fallecido 

CODPTORE: Departamento de residencia habitual de la madre 

CODMUNRE: Municipio de residencia habitual de la madre 

AREA_RES: Área de residencia habitual del fallecido (para muerte fetal o de menor de un año la el de la madre) 

SEG_SOCIAL: Régimen de seguridad social del fallecido (para muerte fetal, o de menor de un año el de la madre) 

EST_CIVM: Estado conyugal de la madre 

NIV_EDUM: Ultimo nivel de estudio que aprobó la madre 

ULTCURMAD: Último año o grado aprobado de la madre 

ASIS_MED: ¿Recibió asistencia médica durante el proceso que lo llevo a la muerte? 

SEXO: Sexo del fallecido 

T_GES: Tiempo de gestación 

T_GES_AGRU_CIE: Tiempo de gestación ajustado a la agrupación sugerida por la CIE 

PESO_NAC: Peso al nacer del feto o del menor de un año

In [411]:
variablesABuscar = set([
"COD_DPTO",
"COD_MUNIC",
"A_DEFUN",
"SIT_DEFUN",
"ANO",
"MES",
"PMAN_MUER",
"MAN_MUER",
"C_BAS1",
"MU_PARTO",
"T_PARTO",
"TIPO_EMB",
"CONS_EXP",
"IDPROFCER",
"N_HIJOSV",
"N_HIJOSM",
"EDAD_MADRE",
"CODPTORE",
"CODMUNRE",
"AREA_RES",
"SEG_SOCIAL",
"EST_CIVM",
"NIV_EDUM",
"ULTCURMAD",
"ASIS_MED",
"SEXO",
"T_GES",
"T_GES_AGRU_CIE",
"PESO_NAC"])

columnasFetal2017 = [col for col in fetal2017.columns if col in variablesABuscar]
columnasFetal2018 = [col for col in fetal2018.columns if col in variablesABuscar]
columnasFetal2021 = [col for col in fetal2021.columns if col in variablesABuscar]
columnasFetal2022 = [col for col in fetal2022.columns if col in variablesABuscar]

columnasFetal2017.sort()
columnasFetal2018.sort()
columnasFetal2021.sort()
columnasFetal2022.sort()

print(f"Las columnas de salud2017 son: {columnasFetal2017}")
print(f"Las columnas de salud2018 son: {columnasFetal2018}")
print(f"Las columnas de salud2021 son: {columnasFetal2021}")
print(f"Las columnas de salud2022 son: {columnasFetal2022}")

columnasEnComun = set(columnasFetal2017).intersection(set(columnasFetal2018)).intersection(set(columnasFetal2021)).intersection(set(columnasFetal2022))

print(f"Las columnas en común son: {columnasEnComun}")
print(f"Las columnas que no estan en todos los datasets son: {variablesABuscar - columnasEnComun}")

Las columnas de salud2017 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EDAD_MADRE', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2018 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EDAD_MADRE', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2021 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EDAD_MADRE', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2022 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EDAD_MADRE', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas en común son: {'ASIS_MED', 'T_GES_AGRU_CIE', 'N_HIJOSV', 'SEXO', 'SIT_DEFUN', 'CODPTORE', 'MES', 'IDPROFCER', 'NIV_EDUM', 'COD_DPTO', 'TIPO_EMB', 'COD_MUNIC', 'AREA_RES', 'CONS_EXP', 'EDAD_MADRE', 'T_PARTO', 'PESO_NAC', 'A_DEFUN', 'EST_CIVM', 'MU_PARTO', 'T_GES', 'N_HIJOSM', 'SEG_SOCIAL', 'ANO', 'CODMUNRE', 'ULTCURMAD', 'C_BAS1'}
Las columnas que no estan en todos los datasets son: {'MAN_MUER', 'PMAN_MUER'}

Al revisar los diccionarios de datos se puede apreciar que los atributos 'PMAN_MUER' y 'MAN_MUER' de los años 2017 y 2018, se unieron en el atributo P_PMAN_IRIS para los años 2021 y 2022. Asi que es necesario combinar estos dos atributos para los años 2017 y 2018

In [412]:
columnasFetal2017.remove("MAN_MUER")
columnasFetal2018.remove("MAN_MUER")
columnasFetal2017.remove("PMAN_MUER")
columnasFetal2018.remove("PMAN_MUER")



columnasFetal2017.append("P_PMAN_IRIS")
columnasFetal2018.append("P_PMAN_IRIS")
columnasFetal2021.append("P_PMAN_IRIS")
columnasFetal2022.append("P_PMAN_IRIS")

In [413]:
fetal2017[["PMAN_MUER","MAN_MUER"]]


import pandas as pd


def obtener_P_PMAN_IRIS(fila):
    if fila['PMAN_MUER'] == 1:
        return 0
    elif fila['MAN_MUER'] == 1:
        return 4
    elif fila['MAN_MUER'] == 2:
        return 1
    elif fila['MAN_MUER'] == 3:
        return 2
    elif fila['MAN_MUER'] == 4:
        return 6
    elif fila['MAN_MUER'] == 5:
        return 3
    return fila['PMAN_MUER']


fetal2017['PMAN_MUER'] = fetal2017.apply(obtener_P_PMAN_IRIS, axis=1)
fetal2018['PMAN_MUER'] = fetal2018.apply(obtener_P_PMAN_IRIS, axis=1)

fetal2017.rename(columns={"PMAN_MUER":"P_PMAN_IRIS"}, inplace=True)
fetal2018.rename(columns={"PMAN_MUER":"P_PMAN_IRIS"}, inplace=True)

Con esto, a continuación se presenta una muestra para cada uno de los archivos de datos disponibles.

In [414]:
fetal2017[columnasFetal2017].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
18418,2017,1.0,1,1,758.0,8.0,8,1,2,P022,...,1,5,3,1,1,1,1,1,11,NaN
26341,2017,3.0,1,1,517.0,19.0,41,396,1,Q899,...,3,2,2,1,1,3,3,2,7,NaN
5925,2017,1.0,1,1,1.0,11.0,11,1,2,P018,...,1,1,3,1,1,1,1,3,5,NaN
10222,2017,1.0,1,1,1.0,50.0,50,1,1,P018,...,9,5,3,1,5,1,1,1,11,NaN
22208,2017,1.0,1,1,130.0,63.0,63,130,1,P018,...,1,2,3,1,5,9,9,1,11,NaN
35865,2017,1.0,1,1,1.0,54.0,54,1,2,P018,...,1,1,3,1,1,9,9,1,5,NaN
44180,2017,9.0,1,1,NaN,NaN,41,1,2,P964,...,7,1,3,1,5,9,9,3,99,NaN
43081,2017,1.0,1,1,1.0,11.0,11,1,2,P014,...,9,1,3,1,1,1,1,1,11,NaN
34927,2017,1.0,1,1,376.0,5.0,5,615,2,P018,...,1,1,3,1,1,1,1,1,2,NaN
5182,2017,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,2,3,1,5,1,1,1,9,NaN

In [415]:
fetal2018[columnasFetal2018].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
28161,2018,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,1,3,1,5,1,1,1,11,NaN
10944,2018,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,1,3,1,1,1,1,1,11,NaN
40586,2018,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,1,3,1,5,1,1,4,5,NaN
19086,2018,1.0,1,1,1.0,13.0,13,1,2,P018,...,1,2,3,1,5,1,1,3,6,NaN
32129,2018,1.0,1,1,6.0,41.0,41,551,1,P018,...,1,2,3,1,1,1,1,1,5,NaN
12399,2018,1.0,1,1,276.0,68.0,68,1,1,P018,...,1,1,3,1,1,1,1,1,11,NaN
29163,2018,1.0,1,1,1.0,86.0,86,1,2,P018,...,1,3,3,1,1,1,1,1,11,NaN
4364,2018,1.0,1,1,1.0,70.0,70,1,1,P018,...,9,2,3,1,1,1,1,3,99,NaN
5867,2018,1.0,1,1,352.0,52.0,52,356,1,P018,...,1,1,3,1,5,1,1,3,11,NaN
12588,2018,3.0,1,1,615.0,5.0,5,615,1,P018,...,1,2,3,1,1,9,9,1,99,NaN

In [416]:
fetal2021[columnasFetal2021].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
25078,2021,1.0,1,1,111.0,76.0,76,834,2,P018,...,1,1,3,1,5,1,1,4,4,NaN
24509,2021,1.0,1,1,364.0,76.0,76,1,1,P018,...,1,2,3,1,1,1,1,1,11,NaN
1332,2021,1.0,1,1,520.0,76.0,76,520,1,P027,...,1,1,1,1,1,1,1,1,5,NaN
16002,2021,1.0,1,1,810.0,54.0,54,1,2,P018,...,1,2,3,1,1,1,1,1,99,0.0
8400,2021,1.0,1,1,1.0,11.0,11,1,1,P964,...,1,2,2,1,1,2,2,1,5,NaN
27613,2021,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,2,3,1,1,1,1,1,11,NaN
14969,2021,3.0,1,1,65.0,81.0,81,736,2,P018,...,1,2,3,1,1,1,1,1,11,NaN
3701,2021,1.0,1,1,520.0,76.0,76,520,2,P200,...,1,2,2,1,1,2,2,1,11,NaN
13766,2021,1.0,1,1,1.0,11.0,11,1,1,P018,...,1,1,3,1,1,1,1,1,9,NaN
1589,2021,1.0,1,1,1.0,70.0,70,1,2,P021,...,1,2,3,1,5,1,1,4,11,NaN

In [417]:
fetal2022[columnasFetal2022].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
6974,2022,1.0,1,1,1.0,11.0,11,1,1,P014,...,1.0,2,3,1,1,1,1,1,11,NaN
4053,2022,1.0,1,1,1.0,76.0,76,1,1,P018,...,1.0,1,3,1,1,1,1,1,11,0.0
16049,2022,1.0,1,1,244.0,13.0,13,244,2,P022,...,1.0,5,2,1,1,3,3,1,99,0.0
11588,2022,1.0,1,1,1.0,11.0,11,1,2,P964,...,1.0,2,3,1,1,1,1,1,11,NaN
10166,2022,1.0,1,1,1.0,73.0,11,1,1,P018,...,1.0,1,3,1,1,1,1,3,11,0.0
2548,2022,1.0,1,1,885.0,86.0,86,1,2,P018,...,1.0,3,3,1,1,1,1,1,9,NaN
16379,2022,1.0,1,1,1.0,11.0,11,1,1,P008,...,1.0,5,2,1,1,2,2,1,11,0.0
1260,2022,2.0,9,1,52.0,13.0,13,1,2,Q039,...,1.0,2,1,1,1,2,2,2,99,3.0
20752,2022,3.0,2,3,473.0,19.0,19,473,2,P038,...,4.0,2,1,3,1,3,3,1,5,0.0
6879,2022,1.0,1,1,1.0,70.0,70,1,2,P018,...,1.0,2,3,1,1,1,1,1,99,0.0

Posteriormente, se muestra el tipo de dato para cada atributo por cada archivo de datos.

In [418]:
fetal2017[columnasFetal2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44488 entries, 0 to 44487
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             44488 non-null  int64
 1   AREA_RES        44360 non-null  float64
 2   ASIS_MED        44488 non-null  int64
 3   A_DEFUN         44488 non-null  int64
 4   CODMUNRE        44104 non-null  float64
 5   CODPTORE        44105 non-null  float64
 6   COD_DPTO        44488 non-null  int64
 7   COD_MUNIC       44488 non-null  int64
 8   CONS_EXP        44488 non-null  int64
 9   C_BAS1          44488 non-null  object
 10  EDAD_MADRE      44488 non-null  int64
 11  EST_CIVM        44488 non-null  int64
 12  IDPROFCER       44488 non-null  int64
 13  MES             44488 non-null  int64
 14  MU_PARTO        44488 non-null  int64
 15  NIV_EDUM        44488 non-null  int64
 16  N_HIJOSM        44488 non-null  int64
 17  N_HIJOSV        44487 non-null  float64
 18  PESO_NAC        44488 non-null  int64
 19  SEG_SOCIAL      44488 non-null  int64
 20  SEXO            44488 non-null  int64
 21  SIT_DEFUN       44488 non-null  int64
 22  TIPO_EMB        44488 non-null  int64
 23  T_GES           44488 non-null  int64
 24  T_GES_AGRU_CIE  44488 non-null  int64
 25  T_PARTO         44488 non-null  int64
 26  ULTCURMAD       44488 non-null  int64
 27  P_PMAN_IRIS     355 non-null    float64
dtypes: float64(5), int64(22), object(1)
memory usage: 9.5+ MB

In [419]:
fetal2018[columnasFetal2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41098 entries, 0 to 41097
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             41098 non-null  int64
 1   AREA_RES        40689 non-null  float64
 2   ASIS_MED        41098 non-null  int64
 3   A_DEFUN         41098 non-null  int64
 4   CODMUNRE        40520 non-null  float64
 5   CODPTORE        40520 non-null  float64
 6   COD_DPTO        41098 non-null  int64
 7   COD_MUNIC       41098 non-null  int64
 8   CONS_EXP        41098 non-null  int64
 9   C_BAS1          41098 non-null  object
 10  EDAD_MADRE      41098 non-null  int64
 11  EST_CIVM        41098 non-null  int64
 12  IDPROFCER       41098 non-null  int64
 13  MES             41098 non-null  int64
 14  MU_PARTO        41098 non-null  int64
 15  NIV_EDUM        41098 non-null  int64
 16  N_HIJOSM        41098 non-null  int64
 17  N_HIJOSV        41098 non-null  int64
 18  PESO_NAC        41098 non-null  int64
 19  SEG_SOCIAL      41098 non-null  int64
 20  SEXO            41098 non-null  int64
 21  SIT_DEFUN       41098 non-null  int64
 22  TIPO_EMB        41098 non-null  int64
 23  T_GES           41098 non-null  int64
 24  T_GES_AGRU_CIE  41098 non-null  int64
 25  T_PARTO         41098 non-null  int64
 26  ULTCURMAD       41098 non-null  int64
 27  P_PMAN_IRIS     368 non-null    float64
dtypes: float64(4), int64(23), object(1)
memory usage: 8.8+ MB

In [420]:
fetal2021[columnasFetal2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30709 entries, 0 to 30708
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             30709 non-null  int64
 1   AREA_RES        30076 non-null  float64
 2   ASIS_MED        30709 non-null  int64
 3   A_DEFUN         30709 non-null  int64
 4   CODMUNRE        30075 non-null  float64
 5   CODPTORE        30075 non-null  float64
 6   COD_DPTO        30709 non-null  int64
 7   COD_MUNIC       30709 non-null  int64
 8   CONS_EXP        30709 non-null  int64
 9   C_BAS1          30709 non-null  object
 10  EDAD_MADRE      30709 non-null  int64
 11  EST_CIVM        30709 non-null  int64
 12  IDPROFCER       30709 non-null  int64
 13  MES             30709 non-null  int64
 14  MU_PARTO        30709 non-null  int64
 15  NIV_EDUM        30709 non-null  int64
 16  N_HIJOSM        30709 non-null  int64
 17  N_HIJOSV        30709 non-null  int64
 18  PESO_NAC        30709 non-null  int64
 19  SEG_SOCIAL      30709 non-null  int64
 20  SEXO            30709 non-null  int64
 21  SIT_DEFUN       30709 non-null  int64
 22  TIPO_EMB        30709 non-null  int64
 23  T_GES           30709 non-null  int64
 24  T_GES_AGRU_CIE  30709 non-null  int64
 25  T_PARTO         30709 non-null  int64
 26  ULTCURMAD       30709 non-null  int64
 27  P_PMAN_IRIS     6639 non-null   float64
dtypes: float64(4), int64(23), object(1)
memory usage: 6.6+ MB

In [421]:
fetal2022[columnasFetal2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28237 entries, 0 to 28236
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             28237 non-null  int64
 1   AREA_RES        27895 non-null  float64
 2   ASIS_MED        28237 non-null  int64
 3   A_DEFUN         28237 non-null  int64
 4   CODMUNRE        27894 non-null  float64
 5   CODPTORE        27894 non-null  float64
 6   COD_DPTO        28237 non-null  int64
 7   COD_MUNIC       28237 non-null  int64
 8   CONS_EXP        28237 non-null  int64
 9   C_BAS1          28237 non-null  object
 10  EDAD_MADRE      28237 non-null  int64
 11  EST_CIVM        28237 non-null  int64
 12  IDPROFCER       28237 non-null  int64
 13  MES             28237 non-null  int64
 14  MU_PARTO        28237 non-null  int64
 15  NIV_EDUM        28237 non-null  int64
 16  N_HIJOSM        28237 non-null  int64
 17  N_HIJOSV        28237 non-null  int64
 18  PESO_NAC        28233 non-null  float64
 19  SEG_SOCIAL      28237 non-null  int64
 20  SEXO            28237 non-null  int64
 21  SIT_DEFUN       28237 non-null  int64
 22  TIPO_EMB        28237 non-null  int64
 23  T_GES           28237 non-null  int64
 24  T_GES_AGRU_CIE  28237 non-null  int64
 25  T_PARTO         28237 non-null  int64
 26  ULTCURMAD       28237 non-null  int64
 27  P_PMAN_IRIS     19303 non-null  float64
dtypes: float64(5), int64(22), object(1)
memory usage: 6.0+ MB

Finalmente, se unen los 4 datasets en uno unico, para facilitar el analisis de los datos

In [422]:
fetal_df = pd.concat([fetal2017[columnasFetal2017], fetal2018[columnasFetal2018], fetal2021[columnasFetal2021], fetal2022[columnasFetal2022]], axis=0)
fetal_df.reset_index(drop=True, inplace=True)
fetal_df.sample(30)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
38214,2017,1.0,1,1,356.0,52.0,52,356,1,P018,...,1.0,2,3,1,5,1,1,3,9,NaN
87649,2021,1.0,1,1,615.0,5.0,5,615,1,P014,...,9.0,5,3,1,1,9,9,4,5,NaN
32820,2017,1.0,1,1,65.0,81.0,81,736,2,P022,...,1.0,2,3,1,1,1,1,1,11,NaN
73896,2018,3.0,1,1,318.0,5.0,5,615,1,P018,...,9.0,3,3,1,5,1,1,1,11,NaN
2537,2017,1.0,1,1,1.0,47.0,47,1,2,P018,...,9.0,1,3,1,1,1,1,1,11,NaN
75504,2018,1.0,1,1,678.0,70.0,70,1,1,P018,...,1.0,2,3,1,1,1,1,1,99,NaN
57283,2018,1.0,1,1,364.0,76.0,76,1,2,P018,...,1.0,1,3,1,1,1,1,1,9,NaN
16354,2017,3.0,1,1,212.0,15.0,15,176,2,P018,...,1.0,2,3,1,1,1,1,3,99,NaN
42700,2017,2.0,1,1,750.0,20.0,20,1,2,P008,...,1.0,2,1,1,1,3,3,1,9,NaN
7751,2017,1.0,1,1,244.0,13.0,13,244,2,P025,...,4.0,2,2,1,1,3,3,1,5,NaN
40299,2017,1.0,1,1,1.0,54.0,54,1,2,P018,...,9.0,2,3,1,1,1,1,1,11,NaN
141428,2022,1.0,1,1,1.0,11.0,11,1,1,P018,...,1.0,5,3,1,1,1,1,1,10,0.0
130771,2022,1.0,1,1,1.0,41.0,41,1,2,P001,...,1.0,2,1,1,1,1,1,1,11,NaN
78099,2018,1.0,1,1,1.0,54.0,54,1,2,P014,...,1.0,1,3,1,1,1,1,3,2,NaN
21853,2017,1.0,1,1,1.0,68.0,68,276,2,P018,...,9.0,1,3,1,1,1,1,1,11,NaN
38819,2017,1.0,1,1,1.0,23.0,23,1,1,P018,...,9.0,2,3,1,1,1,1,1,9,NaN
12399,2017,1.0,1,1,1.0,11.0,11,1,1,P022,...,3.0,1,1,1,1,3,3,1,6,NaN
124830,2022,1.0,2,1,1.0,44.0,47,555,2,P95,...,4.0,2,2,3,1,3,3,1,11,0.0
2287,2017,1.0,1,1,1.0,11.0,11,1,1,P018,...,1.0,2,3,1,1,1,1,1,11,NaN
33078,2017,1.0,1,1,1.0,23.0,23,1,1,P018,...,1.0,5,3,1,5,1,1,1,6,NaN
33584,2017,1.0,1,1,1.0,11.0,11,1,1,P018,...,1.0,1,1,1,1,1,1,1,3,NaN
5688,2017,2.0,1,1,1.0,41.0,41,1,2,P018,...,1.0,2,3,1,1,9,9,1,9,NaN
97038,2021,1.0,1,1,1.0,13.0,13,1,2,P392,...,1.0,2,3,1,1,2,2,1,99,NaN
13846,2017,1.0,1,1,1.0,81.0,81,1,1,P018,...,1.0,2,3,1,1,1,1,1,11,NaN
2927,2017,1.0,1,1,1.0,76.0,76,1,1,P018,...,9.0,2,3,1,1,1,1,3,99,NaN
80563,2018,1.0,1,1,360.0,5.0,5,1,1,P018,...,1.0,2,3,1,5,1,1,1,10,NaN
50313,2018,2.0,1,1,520.0,76.0,76,520,1,P027,...,1.0,2,1,1,1,1,1,1,11,NaN
123039,2022,1.0,1,1,1.0,11.0,11,1,1,P018,...,1.0,1,3,1,1,1,1,1,11,NaN
86717,2021,1.0,1,1,1.0,70.0,70,1,1,P018,...,1.0,2,3,1,1,9,9,4,11,NaN
7148,2017,1.0,1,1,1.0,23.0,23,1,2,P018,...,1.0,1,3,1,1,1,1,1,2,NaN

## 2. Entendimiento de los datos

## 2.1. Análisis de calidad de datos

## 2.1.1. Análisis de completitud
A continuación, se presentan los porcentajes de completitud e incompletitud para cada uno de los atributos.

In [423]:
porcentajeIncompletitudAtributo =  (100 * fetal_df.isnull().sum() / fetal_df.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Atributo": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
    "Incompletitud (%)": porcentajeIncompletitudAtributo.values
})

          Atributo  Completitud (%)  Incompletitud (%)
0      P_PMAN_IRIS        18.449202          81.550798
1         CODMUNRE        98.658429           1.341571
2         CODPTORE        98.659120           1.340880
3         AREA_RES        98.953865           1.046135
4         PESO_NAC        99.997232           0.002768
5         N_HIJOSV        99.999308           0.000692
6          A_DEFUN       100.000000           0.000000
7        COD_MUNIC       100.000000           0.000000
8         CONS_EXP       100.000000           0.000000
9         ASIS_MED       100.000000           0.000000
10        COD_DPTO       100.000000           0.000000
11             ANO       100.000000           0.000000
12        EST_CIVM       100.000000           0.000000
13      EDAD_MADRE       100.000000           0.000000
14          C_BAS1       100.000000           0.000000
15       IDPROFCER       100.000000           0.000000
16        NIV_EDUM       100.000000           0.000000
17        MU_PARTO       100.000000           0.000000
18        N_HIJOSM       100.000000           0.000000
19             MES       100.000000           0.000000
20      SEG_SOCIAL       100.000000           0.000000
21            SEXO       100.000000           0.000000
22        TIPO_EMB       100.000000           0.000000
23       SIT_DEFUN       100.000000           0.000000
24           T_GES       100.000000           0.000000
25  T_GES_AGRU_CIE       100.000000           0.000000
26         T_PARTO       100.000000           0.000000
27       ULTCURMAD       100.000000           0.000000

Se puede ver que el atributo más incompleto es P_PMAN_IRIS, con más del 80% de datos faltantes, por tal razón no se usará este atributo.

## 2.1.2. Análisis de unicidad
A continuación, se buscará determinar cuántas filas duplicadas hay en el dataset

In [424]:
registrosDuplicados = fetal_df.duplicated()
totalDuplicados = registrosDuplicados.sum()
totalOpiniones = fetal_df.shape[0]
porcentajeDuplicados = 100.0 * totalDuplicados / totalOpiniones
print(f"Se cuenta con {totalDuplicados} registros duplicados ({porcentajeDuplicados:.2f}%)")

Se cuenta con 2937 registros duplicados (2.03%)

Los datos presentan un porcentaje relativamente pequeño de duplicidad, por lo que seria razonable eliminar dichos duplicados.

## 2.1.3. Análisis de validez

Para analizar la validez, se tomará en cuenta el diccionario de datos del año 2022, salvo que se indique lo contrario

**ANO**  
Este atributo debe corresponder a los años 2017, 2018, 2021 y 2022\n

**AREA_RES**  
1 = Cabecera municipal  
2 = Centro poblado (Inspección, corregimiento o caserío)  
3 = Rural disperso  
9 = Sin información  


**ASIS_MED**  
1 = Sí  
2 = No  
3 = Ignorado  
9 = Sin información  


**A_DEFUN**  
1 = Cabecera municipal  
2 = Centro poblado (Inspección, corregimiento o caserío)  
3 = Rural disperso  
9 = Sin información  

**CODMUNRE**
Se evidenciara a traves de la fuente de municipios

**CODPTORE**
05= Antioquia  
08= Atlántico  
11= Bogotá  
13= Bolivar  
15= Boyaca  
17=Caldas  
18= Caqueta  
19=Cauca  
20= Cesar  
23= Cordoba  
25=Cundinamarca  
27= Choco  
41= Huila  
44= La guajira  
47= Magdalena  
50= Meta  
52= Nariño  
54= Norte de Santander  
63= Quindio  
66= Risaralda  
68= Santander  
70= Sucre  
73= Tolima  
76= Valle del Cauca  
81= Arauca  
85= Casanare  
86= Putumayo  
88= Archipiélago de San Andrés, Providencia y Santa Catalina  
91= Amazonas  
94= Guainía  
95= Guaviare  
97= Vaupés  
99= Vichada  

**COD_DPTO**  
05= Antioquia  
08= Atlántico  
11= Bogotá  
13= Bolivar  
15= Boyaca  
17=Caldas  
18= Caqueta  
19=Cauca  
20= Cesar  
23= Cordoba  
25=Cundinamarca  
27= Choco  
41= Huila  
44= La guajira  
47= Magdalena  
50= Meta  
52= Nariño  
54= Norte de Santander  
63= Quindio  
66= Risaralda  
68= Santander  
70= Sucre  
73= Tolima  
76= Valle del Cauca  
81= Arauca  
85= Casanare  
86= Putumayo  
88= Archipiélago de San Andrés, Providencia y Santa Catalina  
91= Amazonas  
94= Guainía  
95= Guaviare  
97= Vaupés  
99= Vichada  


**COD_MUNIC**  
Esta variable tiene una descripción erronea en el diccionario de datos, pues cuando se definen sus posibles valores, estos son los mismo que *COD_DPTO*, debido a esto, es necesario identificarlos con la fuente externa de municipios



**CONS_EXP**  
Este atributo debera ser verificado a traves de la fuente externa que contiene la Clasificación Internacional de Enfermedades (CIE)


**EDAD_MADRE**
1 = De 10 a 14 años  
2 = De 15 a 19 años  
3 = De 20 a 24 años  
4 = De 25 a 29 años   
5 = De 30 a 34 años  
6 = De 35 a 39 años  
7 = De 40 a 44 años  
8 = De 45 a 49 años  
9 = De 50 a 54 años  
99 = Sin información  


**EST_CIVM**  
1 = No estaba casado(a) y llevaba dos o más años viviendo con su pareja  
2 = No estaba casado(a) y llevaba menos de dos años viviendo con su pareja  
3 = Estaba separado(a), divorciado(a)  
4 = Estaba viudo(a)  
5 = Estaba soltero(a)  
6 = Estaba casado(a)  
9= Sin información  

**IDPROFCER**  
1 = Médico  
2 = Enfermero(a)  
3 = Auxiliar de enfermería  
4 = Promotor(a) de salud  
5 = Funcionario de registro civil  
6 = Médico legista  
9 = Sin infomración  

**MES**  
01= Enero  
02= Febrero  
03= Marzo  
04= Abril  
05= Mayo  
06= Junio  
07= Julio  
08= Agosto  
09= Septiembre  
10= Octubre  
11= Noviembre  
12= Diciembre  

**MU_PARTO**  
1 = Antes  
2 = Durante  
3 = Después   
4 = Ignorado   
9 = Sin información  

**NIV_EDUM**  
1 = Preescolar  
2 = Básica primaria  
3 = Básica secundaria  
4 = Media académica o clásica  
5 = Media técnica  
6 = Normalista  
7 = Técnica profesional  
8 = Tecnológica  
9 = Profesional  
10 = Especialización  
11 = Maestría  
12 = Doctorado    
13 = Ninguno  
99 = Sin información  

**N_HIJOSM**  
1 a 15 = Número de hijos nacidos muertos  
99 = Sin información  

**N_HIJOSV**  
0 a 20 = Número de hijos nacidos vivos  
99 = Sin información.  

**PESO_NAC**  
1 = Menos de 1000 gramos  
2 = De 1000 a 1499 gramos  
3 = De 1500 a 1999 gramos  
4 = De 2000 a 2499 gramos  
5 = De 2500 a 2999 gramos  
6 = De 3000 a 3499 gramos  
7 = De 3500 a 3999 gramos  
8 = De 4000 y más gramos  
9 = Sin información  

**SEG_SOCIAL**  
1 = Contributivo  
2 = Subsidiado  
3 = Excepción  
4 = Especial  
5 = No asegurado  
9 = Sin información  


**SEXO**  
1 = Masculino  
2 = Femenino  
3 = Indeterminado  

**SIT_DEFUN**  
1 = Hospital/clínica  
2 = Centro/puesto de salud  
3 = Casa/domicilio  
4 = Lugar de trabajo  
5 = Vía pública  
6 = Otro  
9 = Sin información.  

**TIPO_EMB**  
1 = Simple  
2 = Doble  
3 = Triple  
4 = Cuádruple o más  
5 = Ignorado  

**T_GES**  
1 = Menos de 22  
2 = De 22 a 27  
3 = De 28 a 37  
4 = De 38 a 41  
5 = De 42 y más  
6 = Ignorado  
9 = Sin información  

**T_GES_AGRU_CIE**  
1 = Menos de 22  
2 = De 22 a 27  
3 = De 28 a 36  
4 = De 37 a 41  
5 = De 42 y más  
6 = Ignorado  
9 = Sin información  

**T_PARTO**  
1 = Espontáneo  
2 = Cesárea  
3 = Instrumentado  
4 = Ignorado  
9 = Sin información.  

**ULTCURMAD**  
1 = Preescolar  
2 = Básica primaria  
3 = Básica secundaria  
4 = Media académica o clásica  
5 = Media técnica  
6 = Normalista  
7 = Técnica profesional  
8 = Tecnológica  
9 = Profesional  
10 = Especialización  
11 = Maestría  
12 = Doctorado  
13 = Ninguno  
99 = Sin información

In [425]:
for col in fetal_df:
    print(col, ":", fetal_df[col].unique())

ANO : [2017 2018 2021 2022]
AREA_RES : [ 1.  3.  2.  9. nan]
ASIS_MED : [1 2 3 9]
A_DEFUN : [1 3 2 9]
CODMUNRE : [410. 837. 551. 147. 736. 109. 307.   1.  53. 288. 668. 670.  79. 182.
 815. 396. 250. 490. 568. 126. 142. 798. 604. 858. 268. 520. 660.  81.
 380. 320. 547. 773. 498. 758. 690. 835. 473. 875. 430. 269.  99. 318.
 653.  65. 874. 810. 356. 843. 390. 834. 122. 673. 111. 466. 405. 383.
  36. 266. 560. 980. 377. 360. 689. 313. 386.  nan 585. 555. 286.  34.
 590. 217. 279. 223. 110.  88. 238. 579. 754. 378. 440. 753. 162. 417.
 788.   6. 330. 130. 261. 594. 606. 573. 615. 650. 226. 807. 251. 486.
 298. 740. 325. 438. 175. 449. 612. 189. 260. 678. 178. 841. 785. 759.
 638. 723. 400. 258. 693. 516.  87. 349. 190. 347. 263. 319. 418.  78.
 270. 772. 711. 553. 256. 370.  10. 686. 276. 406. 592. 444. 172. 895.
 287. 335. 574. 247. 124. 148. 675. 300. 680. 518. 225.  45.  51. 720.
 168. 820.  35. 150. 580.  94. 871. 755. 855. 899.  29.  42. 577. 470.
  68.  90. 777. 713. 491. 433. 794. 399. 275. 140. 170. 239.  40. 220.
  52. 599. 244.  75. 887. 787. 893. 215. 212. 655. 385. 564. 847. 500.
 296. 421. 591. 572. 135. 836. 600.  25. 550. 237. 235. 533. 204. 570.
 411. 821. 778. 849. 361. 203. 137. 575. 679. 762. 352. 688. 488. 229.
 354. 535. 892. 524. 174. 537. 685. 397. 100. 419. 683. 224. 464. 315.
 450. 323. 407. 167. 873. 176. 823. 654. 885. 327. 310. 364.   3. 141.
 744. 523. 669. 513. 312. 255. 495.  77. 200. 771. 694. 571. 206. 854.
 563. 125. 797. 687. 697. 221. 134. 230. 708. 233.  50. 865. 317. 657.
 877. 634. 800. 214. 622. 682. 517. 705. 838. 799. 770. 506. 357. 290.
 132. 188. 522. 745. 676. 283. 355. 845.  93. 322. 757.  13. 698.  83.
 743. 245.  32. 710. 532. 671. 128. 207. 427. 809. 248. 656.  31. 394.
 607. 646. 649. 324. 372. 667. 480. 129. 540. 631. 530. 403. 616. 548.
 359. 789. 308. 299. 614. 306. 401. 872. 665. 455.  60. 756. 749. 801.
 632. 664. 281. 468.  38. 227. 376. 541. 154. 869. 610. 531. 543. 780.
 113. 717. 760. 151. 652. 265. 781. 402.  20. 696. 793. 104. 183. 861.
 662. 264. 284. 483.  11. 890.  16. 817.  15. 243. 806. 558.  44.   2.
 779.  22. 408. 181.  47. 791. 659. 681. 764.  74. 569. 152.  98. 254.
 776. 106. 832. 769.  41.  30. 443. 429. 672. 549. 236.  24. 839. 246.
  86. 503.  55. 123. 786. 647. 878. 272. 120. 792. 219.  43. 814. 302.
 282. 674. 860. 497. 856. 621. 240.  26. 467. 504. 350. 432. 804. 398.
 645. 197. 624. 718. 442.  19. 867. 790. 808.  62. 707. 101. 138. 228.
 824. 761. 426. 684. 388. 475. 494. 425. 701. 435. 750. 565. 326. 870.
 879. 321. 460.  67. 297. 295. 381. 620. 863. 742. 658. 576. 828. 507.
 368. 542. 210. 211. 456. 469. 436. 222.  21. 234.  58. 205. 476. 862.
  95. 586. 702. 819. 332. 545. 160. 763. 339. 161. 136. 139.  73. 666.
 185. 898. 889. 328. 703. 209. 413. 392. 508. 699. 458. 461. 131. 642.
 353. 894. 343. 121. 187. 842. 107. 344. 367. 596. 851.  92.  91. 479.
   4.  59. 883.  54. 511. 663. 692. 774. 605. 145. 805. 271. 232. 960.
 179. 884. 897. 362. 502. 420. 293. 628. 180. 822.]
CODPTORE : [18.  5. 41. 76. 68. 54. 73. 47. 50. 23. 11. 25. 20. 86. 91. 13. 27. 95.
 17. 52. 99. 63.  8. 19. 81. 70. 94. nan 15. 44. 85. 66. 88. 97.]
COD_DPTO : [18  5 41 76 68 54 73 47 50 70 11 25 20 91 13 27 95 86 17 52 63  8 23 19
 81 94 15 44 66 85 88 99 97]
COD_MUNIC : [410 837 551 834 109   1 288 890 269 396 490 147 798 520 276 568 380 498
 835 318 653 736 356 843 111 405  11 560 430 399 360 307 313 320  34 268
 279 238 899 754 615 162 386 650 175 655 573 473 190   6 758 874 698 614
 638 140 170 887 220  45 847 555 189  75 810 244 572 411 322 679 417 480
 892 794 174 744 349 286  81 592 215 873 172 176 433 787 861 432 513 450
 518 205 797 683 129 678 517 298 821  53 247 755 283 250 364 720 154 612
  13 647  90  60 708 377 547 168 671 427 809  50 266 290 759 400 299 219
 710 230 142 491 101 130 799 591 151 306 212 110 223 757 696 662  25 682
 770 245  93 579  88 455 300 895 548 685 227 376 577 580 440 408 124 860
 856  42 885 686 569 820 418 753 980 150 875 317 284 707 610 838  20 675
 570 494 475 660  22 665 659  32 308 604 466 183 355 506 865 542 442 325
 616 469 785 137 855 815 773 401 790 148  68  41 549 233 113 883 622 807
 370 585 532  67 670 743 234 565 500 258 863  58 256 750 397 126 468 497
  35 483 296 540 275 563 742 390 668   2 574 206 780 297 361 152  79 666
 429 185 240  31  51 654 265 460 263 524 824 541 226 444 178 378 693 210
 699 713 209 606 246 287 681 687 458 255 756 251 508 350 141 800 319 817
 122 343 836 188 822 248 522 599 237  65 672 893 688 464  47 470 438 421
 828 690  30 132 533 207 403 776 792 621 791 594 504 642 571 352 884 100
 523 511 663 261 270 667 228 760 692 413 689  62 402 530 321 656 624  99
 161  78 649 235 872 357 344 645 125 425 845 495 315 449 673 575  91 657
 394 634 676 200  40 347  43 236 456 135 182 723 761 553  77 823 772 120
  16 406 842 134  10 680 871  26  73 167 771 664 590 407 786 550 419 461
 543 858 332  55  52  19 443 711 295 385 886 502 745  94 359 607 367 717
 628 217 293 282 310 877 221  36 718 123 139 330 435 777 239 531 383 854
 426 128 600 302 368 254  92 814 669  86 788 658 960 486 894 160 596 867
 705]
CONS_EXP : [1 2 3 4]
C_BAS1 : ['P038' 'P700' 'P018' 'P95' 'P022' 'P010' 'P001' 'P014' 'Q000' 'P964'
 'P200' 'P000' 'P021' 'P012' 'Q909' 'Q897' 'P011' 'P027' 'P059' 'P832'
 'P020' 'P036' 'Q899' 'Q250' 'P025' 'P002' 'Q999' 'P008' 'Q799' 'P015'
 'P019' 'P009' 'P026' 'P399' 'Q606' 'P209' 'P371' 'Q931' 'A509' 'Q039'
 'Q070' 'Q913' 'Q030' 'Q917' 'P701' 'Q969' 'P524' 'P023' 'P024' 'Q079'
 'P005' 'Q929' 'Q249' 'Q040' 'Q793' 'P392' 'P031' 'Q998' 'Q078' 'Q792'
 'Q042' 'P550' 'P788' 'Q798' 'P003' 'Q02' 'Q339' 'Q759' 'Q790' 'Q031'
 'P201' 'P004' 'P034' 'Q795' 'P509' 'P77' 'P558' 'Q049' 'Q225' 'Q602'
 'P239' 'Q336' 'Q898' 'Q794' 'P017' 'Q605' 'Q601' 'Q210' 'Q878' 'Q620'
 'Q209' 'Q613' 'Q213' 'Q059' 'Q804' 'Q270' 'P960' 'P013' 'Q019' 'P529'
 'Q614' 'Q048' 'P378' 'Q433' 'Q038' 'Q248' 'Q043' 'P833' 'P041' 'Q960'
 'Q234' 'P559' 'P082' 'P293' 'P560' 'Q872' 'Q330' 'Q639' 'Q068' 'Q226'
 'P029' 'P569' 'Q321' 'P039' 'Q012' 'P618' 'P045' 'P60' 'Q201' 'Q046'
 'Q430' 'Q600' 'P298' 'Q189' 'P614' 'Q069' 'Q203' 'P044' 'Q632' 'P525'
 'Q259' 'Q057' 'Q513' 'Q052' 'P035' 'P528' 'P271' 'Q410' 'Q011' 'Q390'
 'Q204' 'P968' 'P016' 'Q018' 'Q753' 'Q105' 'P352' 'Q750' 'P359' 'P030'
 'Q459' 'Q529' 'D181' 'Q282' 'Q403' 'P398' 'Q219' 'Q894' 'Q240' 'Q438'
 'P508' 'Q992' 'P081' 'Q349' 'Q649' 'Q439' 'Q338' 'Q419' 'Q758' 'Q251'
 'P028' 'Q211' 'P251' 'Q200' 'Q447' 'P080' 'P048' 'P269' 'Q811' 'P270'
 'Q333' 'Q409' 'Q401' 'Q223' 'Q289' 'Q647' 'Q256' 'P708' 'Q208' 'Q230'
 'Q771' 'Q442' 'P006' 'P551' 'P351' 'P373' 'Q001' 'Q332' 'Q279' 'Q642'
 'Q962' 'Q220' 'P043' 'Q228' 'P599' 'Q431' 'Q423' 'P046' 'Q055' 'Q212'
 'P280' 'Q369' 'P049' 'D151' 'Q054' 'Q927' 'Q221' 'Q002' 'Q978' 'Q791'
 'Q045' 'P523' 'Q372' 'Q058' 'D367' 'Q182' 'Q379' 'Q224' 'P501' 'Q378'
 'Q870' 'Q458' 'Q780' 'Q263' 'Q623' 'Q893' 'Q627' 'Q638' 'P042' 'Q890']
EDAD_MADRE : [ 1  6  3  5  7  4  2  8 99  9]
EST_CIVM : [5 9 1 2 6 4 3]
IDPROFCER : [1 6 9 3 2 4 5]
MES : [12 11  9 10  8  7  3  1  2  4  5  6]
MU_PARTO : [2 1 4 9]
NIV_EDUM : [99  3  4  9  5  7  2  8 10 11 13  1  6 12]
N_HIJOSM : [ 1  3  2  4 99  5  6 14 11  8  9  7 10 12 13  0]
N_HIJOSV : [ 0.  2.  1.  6.  3.  4.  5. 99.  8.  7. 11. 12.  9. 10. nan 13. 14. 15.]
PESO_NAC : [ 6.  1.  5.  8.  9.  3.  2.  7.  4. nan]
SEG_SOCIAL : [2 1 3 5 9 4]
SEXO : [2 1 3]
SIT_DEFUN : [2 1 3 5 9 6 4]
TIPO_EMB : [1 5 2 9 4 3]
T_GES : [4 1 3 9 2 5 6]
T_GES_AGRU_CIE : [4 1 3 9 2 5 6]
T_PARTO : [1 2 3 4 9]
ULTCURMAD : [99  9 11  5  2  7  8  6  3 10  4  1  0 13]
P_PMAN_IRIS : [nan  3.  1.  0.  2.  6.  5.  4.]

Se puede ver que los atributos poseen valores validos salvo por dos de ellos : *ULTCURMAD* y *N_HIJOSM*, ya que ambos registran un valor de 0 cuando este no se encuentra dentro de sus posibles valores

Si bien los siguientes detalles no son problemas de validez, pueden aportar datos valiosos para futuros entregables:
- *MU_PARTO* nunca toma el valor de 3. 
- *N_HIJOSM* toma un valor maximo de 15, pero en los datos el maximo esta 14.
- *N_HIJOSV* dice que puede tomar un valor de 20 pero el maximo encontrado es 15.



A continuacion, se corrigen los errores presentados, para *ULTCURMAD*, ya que se cuenta con el valor "Sin información", se reemplazaran los 0's por 99's. Por el lado de *N_HIJOSM*, se reemplazaran los 0's usando la mediana

In [426]:
fetal_df['ULTCURMAD'] = fetal_df['ULTCURMAD'].replace(0, 99)

mediana_hijosm = fetal_df['N_HIJOSM'].median()
fetal_df['N_HIJOSM'] = fetal_df['N_HIJOSM'].replace(0, mediana_hijosm)

Por ultimo, se verifica que *C_BAS1*, *COD_MUNIC*, *CODMUNRE* y tengan valores validos

In [427]:
municipios_df = pd.read_csv("RegionesFormato.csv")
codigosMunicipio = set(municipios_df["CÓDIGO DANE DEL MUNICIPIO"].unique())


municipiosFetal = set(fetal_df["COD_MUNIC"].unique())
municipiosFallecido = set(fetal_df["CODMUNRE"].unique())


municipiosFaltantes = (municipiosFetal.union(municipiosFallecido)) - codigosMunicipio - set([np.nan])

print(len(municipiosFaltantes))
municipiosFaltantes

1

{np.float64(nan)}

Con base en esto, podemos ver que todos los municipios son validos

In [428]:
enfermedades_df = pd.read_excel("Cie.xls", skiprows=6)
codigosEnfermedades = set(enfermedades_df["COD_4"].unique())


enfermedadesFetal = set(fetal_df["C_BAS1"].unique())

enfermedadesFaltantes = enfermedadesFetal - codigosEnfermedades

print(len(enfermedadesFaltantes))

0

De igual forma, se puede evidenciar que todas las enfermedades existen en la fuente externa y por lo tanto son valores validos

## 2.1.4. Análisis de consistencia

Existen varios problemas de consistencia al tratar a los valores nulos. A continuación se iran mencionando y corrigiendo

- Uso de "Ignorado" y "Desconocido" cuando ambos hacen referencia a lo mismo

In [429]:
fetal_df["ASIS_MED"] = fetal_df["ASIS_MED"].replace(3, 9)
fetal_df["MU_PARTO"] = fetal_df["MU_PARTO"].replace(4, 9)
fetal_df["T_GES"] = fetal_df["T_GES"].replace(6, 9)
fetal_df["T_GES_AGRU_CIE"] = fetal_df["T_GES_AGRU_CIE"].replace(6, 9)
fetal_df["T_PARTO"] = fetal_df["T_PARTO"].replace(4, 9)

- Existen valores nulos, pese a que existen atributos para denotar carencia de información

In [ ]:
fetal_df["AREA_RES"] = fetal_df["AREA_RES"].fillna(9)
fetal_df["N_HIJOSV"] = fetal_df["N_HIJOSV"].fillna(99)
fetal_df["PESO_NAC"] = fetal_df["PESO_NAC"].fillna(9)

Finalmente, se exporta el archivo corregido

In [431]:
fetal_df.to_csv("FetalProcesado.csv", index=False)

# 4. Cambios propuestos


# Dim_Fecha
**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  

- ANO
- MES

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022

PK idFecha
mes
trimestre
anio

**Transformaciones**
1. Renombrar ANO a anio
2. Agregar columna trimestre calculada en base al MES
3. Agregar columna idFecha usando el anio y el mes en formato YYYY-MM

Destino de datos: Dim_Fecha

Campos:

- idFecha
- mes
- trimestre
- anio


# Dim_Atencion_Defuncion
**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  

- SIT_DEFUN
- CONS_EXP
- IDPROFCER
- ASIS_MED

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022

**Transformaciones**
1. Renombrar SIT_DEFUN a sitio_defuncion
2. Renombrar CONS_EXP a certificado_por
3. Renombrar IDPROFCER a profesion_certificadora
4. Renombrar ASIS_MED a recibio_asistencia_medica
5. Convertir los 3's de ASIS_MED en 9's
6. Transformar todas las variables categoricas en su correspondiente valor descriptivo

Destino de datos: Dim_Atencion_Defuncion

Campos:

- sitio_defuncion
- certificado_por
- profesion_certificadora
- recibio_asistencia_medica


# Dim_Madre
**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  

- EDAD_MADRE
- EST_CIVM
- NIV_EDUM
- ULTCURMAD
- SEG_SOCIAL
- CODPTORE
- CODMUNRE

**Fuente de datos**
RegionesFormato

Campos  
- REGION	
- CÓDIGO DANE DEL DEPARTAMENTO	
- DEPARTAMENTO	
- CÓDIGO DANE DEL MUNICIPIO	
- MUNICIPIO

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022, RegionesFormato

**Transformaciones**
1. Renombrar EDAD_MADRE a rango_edad
2. Renombrar EST_CIVM a estado_conyugal
3. Renombrar NIV_EDUM a maximo_nivel_educativo
4. Renombrar ULTCURMAD a maximo_año_o_grado_aprobado
5. Renombrar SEG_SOCIAL a regimen_seguridad_social
6. Reemplazar todos los 0's de maximo_año_o_grado_aprobado a 99's
7. Transformar todas las variables categoricas en su correspondiente valor descriptivo
8. Obtener localizacion_habitual con base en el código del departamento (CODPTORE) y municipio (CODMUNRE) de la madre y el archivo RegionesFormato

Destino de datos: Dim_Madre

Campos:

- rango_edad
- estado_conyugal
- maximo_nivel_educativo
- maximo_año_o_grado_aprobado
- regimen_seguridad_social
- localizacion_habitual

# Dim_Hijo

**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  

- SEXO
- PESO_NAC

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022

**Transformaciones**
1. Renombrar PESO_NAC a peso
2. Agregar la columna talla y usar null como su valor
3. Reemplazar todos los nulos de peso a 9's
4. Transformar todas las variables categoricas en su correspondiente valor descriptivo

Destino de datos: Dim_Hijo

Campos:

- sexo
- peso
- talla

# Dim_Parto

**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  

- T_PARTO
- TIPO_EMB

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022

**Transformaciones**
1. Renombrar T_PARTO a tipo_parto
2. Renombrar TIPO_EMB a multiplicidad_embarazo
3. Agregar la columna talla y usar null como su valor
4. Reemplazar todos los 4's de T_PARTO de peso a 9's
5. Transformar todas las variables categoricas en su correspondiente valor descriptivo


Destino de datos: Dim_Parto

Campos:

- tipo_parto
- multiplicidad_embarazo

# Hecho_Defuncion_Fetal
**Fuente de datos**
Fetal2017, Fetal2018, Fetal2021, Fetal2022

Campos  
- MU_PARTO
- ASIS_MED
- N_HIJOSV
- N_HIJOSM
- PESO_NAC
- T_GES
- T_GES_AGRU_CIE

**Extraer informacion de**  
Fetal2017, Fetal2018, Fetal2021, Fetal2022

**Transformaciones**
1. Renombrar MU_PARTO a muerte_relacionada_parto
2. Renombrar ASIS_MED a recibio_asistencia_medica
3. Renombrar N_HIJOSV a num_hijos_nacidos_vivos_madre
4. Renombrar N_HIJOSM a num_hijos_nacidos_muertos_madre
5. Renombrar PESO_NAC a peso_nacido_vivo
6. Renombrar T_GES a tiempo_gestacion
7. Renombrar T_GES_AGRU_CIE a tiempo_gestacion_CIE
8. Eliminar registros duplicados
9. Convertir los 0's de num_hijos_nacidos_muertos_madre en 99's
10. Convertir los 3's de ASIS_MED en 9's
11. Convertir los 4's de MU_PARTO en 9's
12. Convertir los 6's de T_GES en 9's
13. Convertir los 6's de T_GES_AGRU_CIE en 9's
14. Convertir los 4's de T_PARTO en 9's
15. Reemplazar los valores nulos de AREA_RES en 9
16. Reemplazar los valores nulos de N_HIJOSV en 99
17. Reemplazar los valores nulos de PESO_NAC en 9
18. Transformar todas las variables categoricas en su correspondiente valor descriptivo

Destino de datos: Hecho_Defuncion_Fetal

Campos:

- muerte_relacionada_parto
- recibio_asistencia_medica
- num_hijos_nacidos_vivos_madre
- num_hijos_nacidos_muertos_madre
- peso_nacido_vivo
- tiempo_gestacion
- tiempo_gestacion_CIE