# Análisis de Estadísticas Vitales - EEVV

## Integrantes - Grupo 15

- Sara Sofia Cárdenas Rodríguez - 202214907
- Daniel Felipe Diaz Moreno - 202210773
- Juan Sebastián Urrea López - 201914710

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y Manipulación básica de los Datos

In [ ]:
# Importaciones de bibliotecas
import pandas as pd
!pip  install xlrd

In [95]:
fetal2017 = pd.read_csv("Fetal2017.csv", delimiter=",", encoding="latin1")
fetal2018 = pd.read_csv("Fetal2018.csv", delimiter=",", encoding="latin1")
fetal2021 = pd.read_csv("Fetal2021.csv", delimiter=",", encoding="latin1")
fetal2022 = pd.read_csv("Fetal2022.csv", delimiter=",", encoding="latin1")

print(f"Las dimensiones de Fetal2017 son: {fetal2017.shape}")
print(f"Las dimensiones de Fetal2018 son: {fetal2018.shape}")
print(f"Las dimensiones de Fetal2021 son: {fetal2021.shape}")
print(f"Las dimensiones de Fetal2022 son: {fetal2022.shape}")

Las dimensiones de Fetal2017 son: (44488, 56)
Las dimensiones de Fetal2018 son: (41098, 56)
Las dimensiones de Fetal2021 son: (30709, 44)
Las dimensiones de Fetal2022 son: (28237, 44)

Las variables candidatas descritas en el informe son las siguientes:


**Caracterización de las regiones específicas**

COD_DPTO: Departamento donde ocurrió la defunción 

COD_MUNIC: Municipio donde ocurrió la defunción 

A_DEFUN: Área donde ocurrió la defunción (Cabecera municipal, centro poblado, rural disperso) 

 

**Caracterización de la defunción fetal**

SIT_DEFUN: Sitio donde ocurrió la defunción (Hospital/clínica, centro/puesto de salud, casa/domicilio, lugar de trabajo, via pública) 

ANO: Año en que ocurrió la defunción 

MES: Mes en que ocurrió la defunción 

PMAN_MUER: Probable manera de muerte (Natural, violenta, en estudio) 

MAN_MUER: Probable manera de muerte (violenta) (Suicidio. Homicidio, accidente de tránsito) 

MU_PARTO: La muerte fetal o del menor de un año ocurrió con relación al parto (Antes, durante, después) 

T_PARTO: Tipo de parto - el feto o el menor de un año fallecido nació por parto (Espontáneo, cesárea, instrumentado) 

TIPO_EMB: Multiplicidad - el feto o el menor de un año fallecido nació de un embarazo (Simple, doble, triple, cuádruple o más) 

CONS_EXP: Certificado de defunción expedido por (Médico tratante, médico no tratante, médico legista, personal de salud autorizado, funcionario del registro civil) 

IDPROFCER: Profesión de quien certifica la defunción (Médico, enfermero(a), auxiliar de enfermería, promotor(a) de salud, funcionario del registro civil, médico legista) 

 

**Caracterización clínica de la madre**

N_HIJOSV: Número de hijos nacidos vivos de la madre (incluyendo el presente) 

N_HIJOSM: Número de hijos nacidos muertos de la madre (incluyendo el presente) 

 

**Factores socioeconómicos de los padres**

AREA_RES: Área de residencia habitual del fallecido (para muerte fetal o de menor de un año la el de la madre) 

SEG_SOCIAL: Régimen de seguridad social del fallecido (para muerte fetal, o de menor de un año el de la madre) 

EST_CIVM: Estado conyugal de la madre 

NIV_EDUM: Ultimo nivel de estudio que aprobó la madre 

ULTCURMAD: Último año o grado aprobado de la madre 

 

**Acceso a la atención médica**

ASIS_MED: ¿Recibió asistencia médica durante el proceso que lo llevo a la muerte? 

 

**Caracterización del difunto fetal**

T_GES: Tiempo de gestación 

T_GES_AGRU_CIE: Tiempo de gestación ajustado a la agrupación sugerida por la CIE 

PESO_NAC: Peso al nacer del feto o del menor de un año 

SEXO: Sexo del fallecido

In [96]:
variablesABuscar = set(["COD_DPTO", "COD_MUNIC", "A_DEFUN", "SIT_DEFUN", "ANO", "MES","PMAN_MUER","MAN_MUER","MU_PARTO","T_PARTO","TIPO_EMB","CONS_EXP","IDPROFCER","N_HIJOSV","N_HIJOSM","AREA_RES","SEG_SOCIAL","EST_CIVM","NIV_EDUM","ULTCURMAD","ASIS_MED","T_GES","T_GES_AGRU_CIE","PESO_NAC","SEXO","C_BAS1"])

columnasFetal2017 = [col for col in fetal2017.columns if col in variablesABuscar]
columnasFetal2018 = [col for col in fetal2018.columns if col in variablesABuscar]
columnasFetal2021 = [col for col in fetal2021.columns if col in variablesABuscar]
columnasFetal2022 = [col for col in fetal2022.columns if col in variablesABuscar]

columnasFetal2017.sort()
columnasFetal2018.sort()
columnasFetal2021.sort()
columnasFetal2022.sort()

print(f"Las columnas de salud2017 son: {columnasFetal2017}")
print(f"Las columnas de salud2018 son: {columnasFetal2018}")
print(f"Las columnas de salud2021 son: {columnasFetal2021}")
print(f"Las columnas de salud2022 son: {columnasFetal2022}")

columnasEnComun = set(columnasFetal2017).intersection(set(columnasFetal2018)).intersection(set(columnasFetal2021)).intersection(set(columnasFetal2022))

print(f"Las columnas en común son: {columnasEnComun}")
print(f"Las columnas que no estan en todos los datasets son: {variablesABuscar - columnasEnComun}")

Las columnas de salud2017 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2018 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MAN_MUER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'PMAN_MUER', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2021 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas de salud2022 son: ['ANO', 'AREA_RES', 'ASIS_MED', 'A_DEFUN', 'COD_DPTO', 'COD_MUNIC', 'CONS_EXP', 'C_BAS1', 'EST_CIVM', 'IDPROFCER', 'MES', 'MU_PARTO', 'NIV_EDUM', 'N_HIJOSM', 'N_HIJOSV', 'PESO_NAC', 'SEG_SOCIAL', 'SEXO', 'SIT_DEFUN', 'TIPO_EMB', 'T_GES', 'T_GES_AGRU_CIE', 'T_PARTO', 'ULTCURMAD']
Las columnas en común son: {'ASIS_MED', 'T_GES_AGRU_CIE', 'N_HIJOSV', 'SEXO', 'SIT_DEFUN', 'MES', 'IDPROFCER', 'NIV_EDUM', 'COD_DPTO', 'TIPO_EMB', 'COD_MUNIC', 'AREA_RES', 'CONS_EXP', 'T_PARTO', 'PESO_NAC', 'A_DEFUN', 'EST_CIVM', 'MU_PARTO', 'T_GES', 'N_HIJOSM', 'SEG_SOCIAL', 'ANO', 'ULTCURMAD', 'C_BAS1'}
Las columnas que no estan en todos los datasets son: {'MAN_MUER', 'PMAN_MUER'}

Al revisar los diccionarios de datos se puede apreciar que los atributos 'PMAN_MUER' y 'MAN_MUER' de los años 2017 y 2018, se unieron en el atributo P_PMAN_IRIS para los años 2021 y 2022. Para facilitar el analisis posterior, se tendra en cuenta entonces unicamente PMAN_MUER para 2017 y 2018 y P_PMAN_IRIS para 2021 y 2022, esto debido a que usar tambien la información MAN_MUER involucraria tener que combinar la información de 'PMAN_MUER' y 'MAN_MUER'.

In [97]:
columnasFetal2017.remove("MAN_MUER")
columnasFetal2018.remove("MAN_MUER")
columnasFetal2017.remove("PMAN_MUER")
columnasFetal2018.remove("PMAN_MUER")



columnasFetal2017.append("P_PMAN_IRIS")
columnasFetal2018.append("P_PMAN_IRIS")
columnasFetal2021.append("P_PMAN_IRIS")
columnasFetal2022.append("P_PMAN_IRIS")

In [98]:
fetal2017.rename(columns = {"PMAN_MUER": "P_PMAN_IRIS"}, inplace=True)
fetal2018.rename(columns = {"PMAN_MUER": "P_PMAN_IRIS"}, inplace=True)

Con esto, a continuación se presenta una muestra para cada uno de los archivos de datos disponibles.

In [99]:
fetal2017[columnasFetal2017].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
14626,2017,1.0,1,1,76,1,2,P000,5,1,...,1,2,2,1,1,2,2,1,11,NaN
10590,2017,1.0,1,1,5,1,1,P200,2,1,...,1,2,1,3,1,9,9,1,6,NaN
30432,2017,1.0,1,1,41,551,1,P018,6,1,...,1,1,3,1,1,1,1,1,11,NaN
4027,2017,1.0,1,1,68,276,1,P059,6,1,...,9,2,3,1,1,1,1,1,9,NaN
9231,2017,3.0,1,1,23,1,2,P018,2,1,...,1,2,3,1,5,1,1,3,2,NaN
4890,2017,2.0,1,1,19,698,2,P018,2,1,...,1,2,3,1,1,9,9,1,2,NaN
937,2017,1.0,1,1,54,1,2,P022,6,1,...,1,2,3,1,5,1,1,2,8,NaN
26866,2017,1.0,1,1,95,1,2,P018,5,1,...,1,2,3,1,5,9,9,3,11,NaN
3103,2017,1.0,1,1,8,1,2,P022,5,1,...,1,2,3,1,1,1,1,1,11,NaN
43609,2017,1.0,1,1,50,1,1,P95,2,1,...,1,1,3,1,1,1,1,1,11,NaN

In [100]:
fetal2018[columnasFetal2018].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
17870,2018,1.0,1,1,11,1,1,P018,5,1,...,9,1,3,1,1,1,1,1,10,NaN
33106,2018,1.0,1,1,47,1,2,P018,5,1,...,9,1,3,1,1,1,1,1,11,NaN
7761,2018,1.0,1,1,23,1,2,P021,6,1,...,1,2,3,1,1,1,1,2,11,NaN
26391,2018,1.0,1,1,11,1,1,P014,1,1,...,1,1,3,1,5,1,1,2,11,NaN
28372,2018,1.0,1,1,41,1,1,P018,1,1,...,1,2,3,1,1,1,1,1,4,NaN
8085,2018,1.0,1,1,11,1,1,P018,5,1,...,9,1,3,1,1,1,1,1,11,NaN
30865,2018,1.0,1,1,5,1,1,P014,1,1,...,1,1,3,1,5,1,1,1,11,NaN
24102,2018,1.0,1,1,50,1,2,P018,2,1,...,1,1,3,1,1,1,1,1,99,NaN
10328,2018,1.0,1,1,11,1,1,P018,5,1,...,1,2,3,1,1,1,1,1,11,NaN
18088,2018,1.0,1,1,5,172,1,P018,5,1,...,1,1,3,1,1,1,1,1,5,NaN

In [101]:
fetal2021[columnasFetal2021].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
14308,2021,1.0,1,1,11,1,2,P018,5,1,...,1,5,3,1,1,1,1,1,10,NaN
13876,2021,1.0,1,1,23,1,2,P022,1,1,...,1,1,3,1,1,1,1,1,9,NaN
21778,2021,2.0,1,1,23,162,2,P008,5,1,...,1,2,3,1,1,1,1,1,9,NaN
21936,2021,1.0,1,1,76,1,1,P018,1,1,...,1,5,3,1,1,9,9,1,5,NaN
25313,2021,1.0,1,1,5,1,1,P018,1,1,...,9,5,3,3,1,1,1,1,3,NaN
2352,2021,3.0,1,1,70,1,2,Q999,1,1,...,1,2,1,1,1,2,2,1,9,NaN
22551,2021,1.0,1,1,73,411,1,P209,2,1,...,1,2,1,1,1,2,2,1,11,NaN
3493,2021,3.0,1,1,54,518,2,P018,9,1,...,1,2,3,1,1,1,1,3,99,NaN
14925,2021,1.0,1,1,11,1,1,P018,1,1,...,1,5,1,1,1,1,1,3,11,NaN
9721,2021,1.0,1,1,11,1,1,P018,6,1,...,1,1,3,1,1,1,1,1,3,NaN

In [102]:
fetal2022[columnasFetal2022].sample(10)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
11524,2022,1.0,1,1,70,1,2,P059,5,1,...,1.0,2,1,1,1,2,2,1,5,NaN
1945,2022,1.0,1,1,11,1,1,P025,1,1,...,4.0,1,1,1,1,4,4,2,2,0.0
10042,2022,1.0,1,1,47,1,1,P008,2,1,...,2.0,1,2,1,1,2,2,1,8,NaN
25477,2022,1.0,1,1,54,1,1,P018,1,1,...,1.0,2,3,3,1,1,1,1,11,0.0
12269,2022,1.0,1,1,23,1,2,P022,1,1,...,1.0,2,3,1,1,1,1,1,5,0.0
1073,2022,1.0,1,1,5,1,1,Q999,6,1,...,9.0,1,3,1,1,9,9,4,6,NaN
13016,2022,1.0,2,1,5,376,1,Q899,5,1,...,1.0,2,2,1,1,1,1,1,3,0.0
26046,2022,1.0,1,1,54,1,1,P018,1,1,...,1.0,5,3,3,5,1,1,1,9,NaN
12891,2022,2.0,1,1,76,834,2,P018,5,1,...,1.0,2,1,1,1,1,1,1,5,0.0
18790,2022,3.0,1,1,25,754,2,P018,5,1,...,1.0,2,3,1,1,1,1,1,11,NaN

Posteriormente, se muestra el tipo de dato para cada atributo por cada archivo de datos.

In [103]:
fetal2017[columnasFetal2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44488 entries, 0 to 44487
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             44488 non-null  int64
 1   AREA_RES        44360 non-null  float64
 2   ASIS_MED        44488 non-null  int64
 3   A_DEFUN         44488 non-null  int64
 4   COD_DPTO        44488 non-null  int64
 5   COD_MUNIC       44488 non-null  int64
 6   CONS_EXP        44488 non-null  int64
 7   C_BAS1          44488 non-null  object
 8   EST_CIVM        44488 non-null  int64
 9   IDPROFCER       44488 non-null  int64
 10  MES             44488 non-null  int64
 11  MU_PARTO        44488 non-null  int64
 12  NIV_EDUM        44488 non-null  int64
 13  N_HIJOSM        44488 non-null  int64
 14  N_HIJOSV        44487 non-null  float64
 15  PESO_NAC        44488 non-null  int64
 16  SEG_SOCIAL      44488 non-null  int64
 17  SEXO            44488 non-null  int64
 18  SIT_DEFUN       44488 non-null  int64
 19  TIPO_EMB        44488 non-null  int64
 20  T_GES           44488 non-null  int64
 21  T_GES_AGRU_CIE  44488 non-null  int64
 22  T_PARTO         44488 non-null  int64
 23  ULTCURMAD       44488 non-null  int64
 24  P_PMAN_IRIS     355 non-null    float64
dtypes: float64(3), int64(21), object(1)
memory usage: 8.5+ MB

In [104]:
fetal2018[columnasFetal2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41098 entries, 0 to 41097
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             41098 non-null  int64
 1   AREA_RES        40689 non-null  float64
 2   ASIS_MED        41098 non-null  int64
 3   A_DEFUN         41098 non-null  int64
 4   COD_DPTO        41098 non-null  int64
 5   COD_MUNIC       41098 non-null  int64
 6   CONS_EXP        41098 non-null  int64
 7   C_BAS1          41098 non-null  object
 8   EST_CIVM        41098 non-null  int64
 9   IDPROFCER       41098 non-null  int64
 10  MES             41098 non-null  int64
 11  MU_PARTO        41098 non-null  int64
 12  NIV_EDUM        41098 non-null  int64
 13  N_HIJOSM        41098 non-null  int64
 14  N_HIJOSV        41098 non-null  int64
 15  PESO_NAC        41098 non-null  int64
 16  SEG_SOCIAL      41098 non-null  int64
 17  SEXO            41098 non-null  int64
 18  SIT_DEFUN       41098 non-null  int64
 19  TIPO_EMB        41098 non-null  int64
 20  T_GES           41098 non-null  int64
 21  T_GES_AGRU_CIE  41098 non-null  int64
 22  T_PARTO         41098 non-null  int64
 23  ULTCURMAD       41098 non-null  int64
 24  P_PMAN_IRIS     366 non-null    float64
dtypes: float64(2), int64(22), object(1)
memory usage: 7.8+ MB

In [105]:
fetal2021[columnasFetal2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30709 entries, 0 to 30708
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             30709 non-null  int64
 1   AREA_RES        30076 non-null  float64
 2   ASIS_MED        30709 non-null  int64
 3   A_DEFUN         30709 non-null  int64
 4   COD_DPTO        30709 non-null  int64
 5   COD_MUNIC       30709 non-null  int64
 6   CONS_EXP        30709 non-null  int64
 7   C_BAS1          30709 non-null  object
 8   EST_CIVM        30709 non-null  int64
 9   IDPROFCER       30709 non-null  int64
 10  MES             30709 non-null  int64
 11  MU_PARTO        30709 non-null  int64
 12  NIV_EDUM        30709 non-null  int64
 13  N_HIJOSM        30709 non-null  int64
 14  N_HIJOSV        30709 non-null  int64
 15  PESO_NAC        30709 non-null  int64
 16  SEG_SOCIAL      30709 non-null  int64
 17  SEXO            30709 non-null  int64
 18  SIT_DEFUN       30709 non-null  int64
 19  TIPO_EMB        30709 non-null  int64
 20  T_GES           30709 non-null  int64
 21  T_GES_AGRU_CIE  30709 non-null  int64
 22  T_PARTO         30709 non-null  int64
 23  ULTCURMAD       30709 non-null  int64
 24  P_PMAN_IRIS     6639 non-null   float64
dtypes: float64(2), int64(22), object(1)
memory usage: 5.9+ MB

In [106]:
fetal2022[columnasFetal2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28237 entries, 0 to 28236
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ANO             28237 non-null  int64
 1   AREA_RES        27895 non-null  float64
 2   ASIS_MED        28237 non-null  int64
 3   A_DEFUN         28237 non-null  int64
 4   COD_DPTO        28237 non-null  int64
 5   COD_MUNIC       28237 non-null  int64
 6   CONS_EXP        28237 non-null  int64
 7   C_BAS1          28237 non-null  object
 8   EST_CIVM        28237 non-null  int64
 9   IDPROFCER       28237 non-null  int64
 10  MES             28237 non-null  int64
 11  MU_PARTO        28237 non-null  int64
 12  NIV_EDUM        28237 non-null  int64
 13  N_HIJOSM        28237 non-null  int64
 14  N_HIJOSV        28237 non-null  int64
 15  PESO_NAC        28233 non-null  float64
 16  SEG_SOCIAL      28237 non-null  int64
 17  SEXO            28237 non-null  int64
 18  SIT_DEFUN       28237 non-null  int64
 19  TIPO_EMB        28237 non-null  int64
 20  T_GES           28237 non-null  int64
 21  T_GES_AGRU_CIE  28237 non-null  int64
 22  T_PARTO         28237 non-null  int64
 23  ULTCURMAD       28237 non-null  int64
 24  P_PMAN_IRIS     19303 non-null  float64
dtypes: float64(3), int64(21), object(1)
memory usage: 5.4+ MB

Finalmente, se unen los 4 datasets en uno unico, para facilitar el analisis de los datos

In [107]:
fetal_df = pd.concat([fetal2017[columnasFetal2017], fetal2018[columnasFetal2018], fetal2021[columnasFetal2021], fetal2022[columnasFetal2022]], axis=0)
fetal_df.reset_index(drop=True, inplace=True)
fetal_df.sample(30)

,ANO,AREA_RES,ASIS_MED,A_DEFUN,COD_DPTO,COD_MUNIC,CONS_EXP,C_BAS1,EST_CIVM,IDPROFCER,...,PESO_NAC,SEG_SOCIAL,SEXO,SIT_DEFUN,TIPO_EMB,T_GES,T_GES_AGRU_CIE,T_PARTO,ULTCURMAD,P_PMAN_IRIS
105063,2021,1.0,1,1,5,1,1,P018,5,1,...,9.0,1,3,1,5,1,1,4,5,NaN
4714,2017,1.0,1,1,5,360,1,P018,1,1,...,1.0,1,3,1,1,9,9,1,11,NaN
35707,2017,1.0,1,1,5,1,2,P95,5,1,...,1.0,1,3,1,1,1,1,1,11,NaN
72328,2018,1.0,1,1,23,1,1,P018,9,1,...,1.0,1,3,1,1,1,1,3,5,NaN
60626,2018,1.0,1,1,54,1,2,P018,3,1,...,1.0,2,3,1,1,1,1,3,5,NaN
57076,2018,3.0,1,1,5,615,1,P018,5,1,...,1.0,2,3,1,1,9,9,1,99,NaN
33090,2017,1.0,1,1,76,1,1,P027,1,1,...,1.0,1,2,1,1,2,2,2,5,NaN
49024,2018,1.0,1,1,41,551,1,P018,5,1,...,1.0,2,3,1,1,1,1,1,11,NaN
1273,2017,3.0,1,1,54,1,1,P018,2,1,...,9.0,2,3,1,1,1,1,1,7,NaN
38041,2017,2.0,1,1,19,698,1,P018,1,1,...,1.0,5,3,1,5,9,9,3,5,NaN
61876,2018,1.0,1,1,41,551,1,P018,6,1,...,1.0,1,3,1,1,1,1,1,5,NaN
39712,2017,3.0,1,1,23,162,1,P018,6,1,...,1.0,2,3,1,1,1,1,3,11,NaN
10146,2017,1.0,1,1,11,1,1,P018,5,1,...,9.0,1,3,1,1,1,1,1,11,NaN
68026,2018,1.0,1,1,54,1,2,P018,1,1,...,1.0,1,3,1,1,9,9,3,3,NaN
100262,2021,1.0,1,1,11,1,1,P964,5,1,...,1.0,5,3,1,1,1,1,1,11,NaN
20757,2017,1.0,1,1,11,1,1,P018,1,1,...,1.0,1,3,1,1,1,1,1,9,NaN
34139,2017,1.0,1,1,47,245,1,P012,6,1,...,1.0,2,2,1,1,2,2,1,11,NaN
130222,2022,1.0,1,1,70,1,1,P021,5,1,...,1.0,2,3,1,1,1,1,3,9,0.0
132267,2022,3.0,1,1,63,1,2,Q799,5,1,...,1.0,2,3,1,1,1,1,1,99,0.0
5415,2017,3.0,2,1,5,887,2,P95,6,1,...,2.0,2,1,1,1,3,3,1,5,NaN
82976,2018,1.0,1,1,11,1,2,P239,1,1,...,5.0,1,1,1,1,3,4,1,5,NaN
108006,2021,2.0,1,1,52,1,2,P018,1,1,...,1.0,2,3,1,1,1,1,1,11,0.0
82398,2018,1.0,1,1,5,1,1,P000,6,1,...,1.0,1,1,1,1,2,2,1,99,NaN
62662,2018,1.0,1,1,11,1,1,P964,2,1,...,1.0,1,2,1,1,9,9,1,11,NaN
6726,2017,1.0,1,1,76,1,1,P018,1,1,...,9.0,1,3,1,1,1,1,1,3,NaN
115707,2021,2.0,1,1,13,744,1,P022,1,1,...,1.0,2,1,1,1,3,3,2,7,NaN
8487,2017,3.0,1,1,86,568,2,P018,6,1,...,1.0,2,3,1,1,1,1,1,4,NaN
134682,2022,1.0,1,1,41,298,2,P018,2,1,...,1.0,1,3,1,5,1,1,1,5,0.0
58033,2018,2.0,1,1,41,1,1,P018,1,1,...,1.0,2,1,1,1,1,1,1,5,NaN
111770,2021,3.0,1,1,54,1,2,P018,2,1,...,1.0,2,3,1,5,1,1,4,7,NaN

## 2. Entendimiento de los datos

## 2.1. Análisis de calidad de datos

## 2.1.1. Análisis de completitud
A continuación, se presentan los porcentajes de completitud e incompletitud para cada uno de los atributos.

In [108]:
porcentajeIncompletitudAtributo =  (100 * fetal_df.isnull().sum() / fetal_df.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Atributo": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
    "Incompletitud (%)": porcentajeIncompletitudAtributo.values
})

          Atributo  Completitud (%)  Incompletitud (%)
0      P_PMAN_IRIS        18.447818          81.552182
1         AREA_RES        98.953865           1.046135
2         PESO_NAC        99.997232           0.002768
3         N_HIJOSV        99.999308           0.000692
4              ANO       100.000000           0.000000
5        COD_MUNIC       100.000000           0.000000
6         ASIS_MED       100.000000           0.000000
7          A_DEFUN       100.000000           0.000000
8         COD_DPTO       100.000000           0.000000
9         EST_CIVM       100.000000           0.000000
10          C_BAS1       100.000000           0.000000
11        CONS_EXP       100.000000           0.000000
12       IDPROFCER       100.000000           0.000000
13        NIV_EDUM       100.000000           0.000000
14        MU_PARTO       100.000000           0.000000
15        N_HIJOSM       100.000000           0.000000
16             MES       100.000000           0.000000
17      SEG_SOCIAL       100.000000           0.000000
18            SEXO       100.000000           0.000000
19        TIPO_EMB       100.000000           0.000000
20       SIT_DEFUN       100.000000           0.000000
21           T_GES       100.000000           0.000000
22  T_GES_AGRU_CIE       100.000000           0.000000
23         T_PARTO       100.000000           0.000000
24       ULTCURMAD       100.000000           0.000000

Se puede ver que el atributo mas incompleto es P_PMAN_IRIS. Probablemente se deba a que este atributo en este analisis no representa la informacion total, debido a que se tuvo que omitir el atributo MAN_MUER. Los demas atributos presentan una completitud mayor del 98%, por lo que seria buena idea intentar reemplazar los valores faltantes con medida de tendencia central debido a que son pocos datos nulos.

## 2.1.2. Análisis de unicidad
A continuación, se buscará determinar cuántas filas duplicadas hay en el dataset

In [109]:
registrosDuplicados = fetal_df.duplicated()
totalDuplicados = registrosDuplicados.sum()
totalOpiniones = fetal_df.shape[0]
porcentajeDuplicados = 100.0 * totalDuplicados / totalOpiniones
print(f"Se cuenta con {totalDuplicados} registros duplicados ({porcentajeDuplicados:.2f}%)")

Se cuenta con 9306 registros duplicados (6.44%)

Los datos presentan un porcentaje relativamente pequeño de duplicidad, por lo que seria razonable eliminar dichos duplicados.

## 2.1.3. Análisis de validez

Para analizar la validez, se tomará en cuenta el diccionario de datos del año 2022, salvo que se indique lo contrario

**ANO**  
Este atributo debe corresponder a los años 2017, 2018, 2021 y 2022\n

**AREA_RES**  
1 = Cabecera municipal  
2 = Centro poblado (Inspección, corregimiento o caserío)  
3 = Rural disperso  
9 = Sin información  


**ASIS_MED**  
1 = Sí  
2 = No  
3 = Ignorado  
9 = Sin información  

**A_DEFUN**  
1 = Cabecera municipal  
2 = Centro poblado (Inspección, corregimiento o caserío)  
3 = Rural disperso  
9 = Sin información  

**COD_DPTO**  
05= Antioquia  
08= Atlántico  
11= Bogotá  
13= Bolivar  
15= Boyaca  
17=Caldas  
18= Caqueta  
19=Cauca  
20= Cesar  
23= Cordoba  
25=Cundinamarca  
27= Choco  
41= Huila  
44= La guajira  
47= Magdalena  
50= Meta  
52= Nariño  
54= Norte de Santander  
63= Quindio  
66= Risaralda  
68= Santander  
70= Sucre  
73= Tolima  
76= Valle del Cauca  
81= Arauca  
85= Casanare  
86= Putumayo  
88= Archipiélago de San Andrés, Providencia y Santa Catalina  
91= Amazonas  
94= Guainía  
95= Guaviare  
97= Vaupés  
99= Vichada  


**COD_MUNIC**  
Esta variable tiene una descripción erronea en el diccionario de datos, pues cuando se definen sus posibles valores, estos son los mismo que *COD_DPTO*, debido a esto, es necesario identificarlos con la fuente externa de municipios



**CONS_EXP**  
De igual manera, este atributo debera ser verificado a traves de la fuente externa que contiene la Clasificación Internacional de Enfermedades (CIE)

**EST_CIVM**  
1 = No estaba casado(a) y llevaba dos o más años viviendo con su pareja  
2 = No estaba casado(a) y llevaba menos de dos años viviendo con su pareja  
3 = Estaba separado(a), divorciado(a)  
4 = Estaba viudo(a)  
5 = Estaba soltero(a)  
6 = Estaba casado(a)  
9= Sin información  

**IDPROFCER**  
1 = Médico  
2 = Enfermero(a)  
3 = Auxiliar de enfermería  
4 = Promotor(a) de salud  
5 = Funcionario de registro civil  
6 = Médico legista  
9 = Sin infomración  

**MES**  
01= Enero  
02= Febrero  
03= Marzo  
04= Abril  
05= Mayo  
06= Junio  
07= Julio  
08= Agosto  
09= Septiembre  
10= Octubre  
11= Noviembre  
12= Diciembre  

**MU_PARTO**  
1 = Antes  
2 = Durante  
3 = Después   
4 = Ignorado   
9 = Sin información  

**NIV_EDUM**  
1 = Preescolar  
2 = Básica primaria  
3 = Básica secundaria  
4 = Media académica o clásica  
5 = Media técnica  
6 = Normalista  
7 = Técnica profesional  
8 = Tecnológica  
9 = Profesional  
10 = Especialización  
11 = Maestría  
12 = Doctorado    
13 = Ninguno  
99 = Sin información  

**N_HIJOSM**  
1 a 15 = Número de hijos nacidos muertos  
99 = Sin información  

**N_HIJOSV**  
0 a 20 = Número de hijos nacidos vivos  
99 = Sin información.  

**PESO_NAC**  
1 = Menos de 1000 gramos  
2 = De 1000 a 1499 gramos  
3 = De 1500 a 1999 gramos  
4 = De 2000 a 2499 gramos  
5 = De 2500 a 2999 gramos  
6 = De 3000 a 3499 gramos  
7 = De 3500 a 3999 gramos  
8 = De 4000 y más gramos  
9 = Sin información  

**SEG_SOCIAL**  
1 = Contributivo  
2 = Subsidiado  
3 = Excepción  
4 = Especial  
5 = No asegurado  
9 = Sin información  


**SEXO**  
1 = Masculino  
2 = Femenino  
3 = Indeterminado  

**SIT_DEFUN**  
1 = Hospital/clínica  
2 = Centro/puesto de salud  
3 = Casa/domicilio  
4 = Lugar de trabajo  
5 = Vía pública  
6 = Otro  
9 = Sin información.  

**TIPO_EMB**  
1 = Simple  
2 = Doble  
3 = Triple  
4 = Cuádruple o más  
5 = Ignorado  

**T_GES**  
1 = Menos de 22  
2 = De 22 a 27  
3 = De 28 a 37  
4 = De 38 a 41  
5 = De 42 y más  
6 = Ignorado  
9 = Sin información  

**T_GES_AGRU_CIE**  
1 = Menos de 22  
2 = De 22 a 27  
3 = De 28 a 36  
4 = De 37 a 41  
5 = De 42 y más  
6 = Ignorado  
9 = Sin información  

**T_PARTO**  
1 = Espontáneo  
2 = Cesárea  
3 = Instrumentado  
4 = Ignorado  
9 = Sin información.  

**ULTCURMAD**  
1 = Preescolar  
2 = Básica primaria  
3 = Básica secundaria  
4 = Media académica o clásica  
5 = Media técnica  
6 = Normalista  
7 = Técnica profesional  
8 = Tecnológica  
9 = Profesional  
10 = Especialización  
11 = Maestría  
12 = Doctorado  
13 = Ninguno  
99 = Sin información  

**P_PMAN_IRIS**  
0 = Natural (Enfermedad)  
1 = Homicidio  
2 = Accidente  
3 = Pendiente de investigación  
4 = Suicidio (Autolesión)  
5 = No se pudo determinar  
6 = Desconocido (No completado)  
8 = Intervención legal  
9 = Guerra

In [110]:
for col in fetal_df:
    print(col, ":", fetal_df[col].unique())

ANO : [2017 2018 2021 2022]
AREA_RES : [ 1.  3.  2.  9. nan]
ASIS_MED : [1 2 3 9]
A_DEFUN : [1 3 2 9]
COD_DPTO : [18  5 41 76 68 54 73 47 50 70 11 25 20 91 13 27 95 86 17 52 63  8 23 19
 81 94 15 44 66 85 88 99 97]
COD_MUNIC : [410 837 551 834 109   1 288 890 269 396 490 147 798 520 276 568 380 498
 835 318 653 736 356 843 111 405  11 560 430 399 360 307 313 320  34 268
 279 238 899 754 615 162 386 650 175 655 573 473 190   6 758 874 698 614
 638 140 170 887 220  45 847 555 189  75 810 244 572 411 322 679 417 480
 892 794 174 744 349 286  81 592 215 873 172 176 433 787 861 432 513 450
 518 205 797 683 129 678 517 298 821  53 247 755 283 250 364 720 154 612
  13 647  90  60 708 377 547 168 671 427 809  50 266 290 759 400 299 219
 710 230 142 491 101 130 799 591 151 306 212 110 223 757 696 662  25 682
 770 245  93 579  88 455 300 895 548 685 227 376 577 580 440 408 124 860
 856  42 885 686 569 820 418 753 980 150 875 317 284 707 610 838  20 675
 570 494 475 660  22 665 659  32 308 604 466 183 355 506 865 542 442 325
 616 469 785 137 855 815 773 401 790 148  68  41 549 233 113 883 622 807
 370 585 532  67 670 743 234 565 500 258 863  58 256 750 397 126 468 497
  35 483 296 540 275 563 742 390 668   2 574 206 780 297 361 152  79 666
 429 185 240  31  51 654 265 460 263 524 824 541 226 444 178 378 693 210
 699 713 209 606 246 287 681 687 458 255 756 251 508 350 141 800 319 817
 122 343 836 188 822 248 522 599 237  65 672 893 688 464  47 470 438 421
 828 690  30 132 533 207 403 776 792 621 791 594 504 642 571 352 884 100
 523 511 663 261 270 667 228 760 692 413 689  62 402 530 321 656 624  99
 161  78 649 235 872 357 344 645 125 425 845 495 315 449 673 575  91 657
 394 634 676 200  40 347  43 236 456 135 182 723 761 553  77 823 772 120
  16 406 842 134  10 680 871  26  73 167 771 664 590 407 786 550 419 461
 543 858 332  55  52  19 443 711 295 385 886 502 745  94 359 607 367 717
 628 217 293 282 310 877 221  36 718 123 139 330 435 777 239 531 383 854
 426 128 600 302 368 254  92 814 669  86 788 658 960 486 894 160 596 867
 705]
CONS_EXP : [1 2 3 4]
C_BAS1 : ['P038' 'P700' 'P018' 'P95' 'P022' 'P010' 'P001' 'P014' 'Q000' 'P964'
 'P200' 'P000' 'P021' 'P012' 'Q909' 'Q897' 'P011' 'P027' 'P059' 'P832'
 'P020' 'P036' 'Q899' 'Q250' 'P025' 'P002' 'Q999' 'P008' 'Q799' 'P015'
 'P019' 'P009' 'P026' 'P399' 'Q606' 'P209' 'P371' 'Q931' 'A509' 'Q039'
 'Q070' 'Q913' 'Q030' 'Q917' 'P701' 'Q969' 'P524' 'P023' 'P024' 'Q079'
 'P005' 'Q929' 'Q249' 'Q040' 'Q793' 'P392' 'P031' 'Q998' 'Q078' 'Q792'
 'Q042' 'P550' 'P788' 'Q798' 'P003' 'Q02' 'Q339' 'Q759' 'Q790' 'Q031'
 'P201' 'P004' 'P034' 'Q795' 'P509' 'P77' 'P558' 'Q049' 'Q225' 'Q602'
 'P239' 'Q336' 'Q898' 'Q794' 'P017' 'Q605' 'Q601' 'Q210' 'Q878' 'Q620'
 'Q209' 'Q613' 'Q213' 'Q059' 'Q804' 'Q270' 'P960' 'P013' 'Q019' 'P529'
 'Q614' 'Q048' 'P378' 'Q433' 'Q038' 'Q248' 'Q043' 'P833' 'P041' 'Q960'
 'Q234' 'P559' 'P082' 'P293' 'P560' 'Q872' 'Q330' 'Q639' 'Q068' 'Q226'
 'P029' 'P569' 'Q321' 'P039' 'Q012' 'P618' 'P045' 'P60' 'Q201' 'Q046'
 'Q430' 'Q600' 'P298' 'Q189' 'P614' 'Q069' 'Q203' 'P044' 'Q632' 'P525'
 'Q259' 'Q057' 'Q513' 'Q052' 'P035' 'P528' 'P271' 'Q410' 'Q011' 'Q390'
 'Q204' 'P968' 'P016' 'Q018' 'Q753' 'Q105' 'P352' 'Q750' 'P359' 'P030'
 'Q459' 'Q529' 'D181' 'Q282' 'Q403' 'P398' 'Q219' 'Q894' 'Q240' 'Q438'
 'P508' 'Q992' 'P081' 'Q349' 'Q649' 'Q439' 'Q338' 'Q419' 'Q758' 'Q251'
 'P028' 'Q211' 'P251' 'Q200' 'Q447' 'P080' 'P048' 'P269' 'Q811' 'P270'
 'Q333' 'Q409' 'Q401' 'Q223' 'Q289' 'Q647' 'Q256' 'P708' 'Q208' 'Q230'
 'Q771' 'Q442' 'P006' 'P551' 'P351' 'P373' 'Q001' 'Q332' 'Q279' 'Q642'
 'Q962' 'Q220' 'P043' 'Q228' 'P599' 'Q431' 'Q423' 'P046' 'Q055' 'Q212'
 'P280' 'Q369' 'P049' 'D151' 'Q054' 'Q927' 'Q221' 'Q002' 'Q978' 'Q791'
 'Q045' 'P523' 'Q372' 'Q058' 'D367' 'Q182' 'Q379' 'Q224' 'P501' 'Q378'
 'Q870' 'Q458' 'Q780' 'Q263' 'Q623' 'Q893' 'Q627' 'Q638' 'P042' 'Q890']
EST_CIVM : [5 9 1 2 6 4 3]
IDPROFCER : [1 6 9 3 2 4 5]
MES : [12 11  9 10  8  7  3  1  2  4  5  6]
MU_PARTO : [2 1 4 9]
NIV_EDUM : [99  3  4  9  5  7  2  8 10 11 13  1  6 12]
N_HIJOSM : [ 1  3  2  4 99  5  6 14 11  8  9  7 10 12 13  0]
N_HIJOSV : [ 0.  2.  1.  6.  3.  4.  5. 99.  8.  7. 11. 12.  9. 10. nan 13. 14. 15.]
PESO_NAC : [ 6.  1.  5.  8.  9.  3.  2.  7.  4. nan]
SEG_SOCIAL : [2 1 3 5 9 4]
SEXO : [2 1 3]
SIT_DEFUN : [2 1 3 5 9 6 4]
TIPO_EMB : [1 5 2 9 4 3]
T_GES : [4 1 3 9 2 5 6]
T_GES_AGRU_CIE : [4 1 3 9 2 5 6]
T_PARTO : [1 2 3 4 9]
ULTCURMAD : [99  9 11  5  2  7  8  6  3 10  4  1  0 13]
P_PMAN_IRIS : [nan  2.  3.  1.  0.  5.  6.  4.]

Se puede ver que los atributos poseen valores validos salvo por dos de ellos : *ULTCURMAD* y *N_HIJOSM*, ya que ambos registran un valor de 0 cuando este no se encuentra dentro de sus posibles valores

Si bien los siguientes detalles no son problemas de validez, pueden aportar datos valiosos para futuros entregables:
- *MU_PARTO* nunca toma el valor de 3. 
- *N_HIJOSM* toma un valor maximo de 15, pero en los datos el maximo esta 14.
- *N_HIJOSV* dice que puede tomar un valor de 20 pero el maximo encontrado es 15.
- P_PMAN_IRIS nunca toma el valor de 8 ni de 9



A continuacion, se corrigen los errores presentados, para *ULTCURMAD*, ya que se cuenta con el valor "Sin información", se reemplazaran los 0's por 9's. Por el lado de *N_HIJOSM*, se reemplazaran los 0's usando la mediana

In [111]:
fetal_df['ULTCURMAD'] = fetal_df['ULTCURMAD'].replace(0, 99)

mediana_hijosm = fetal_df['N_HIJOSM'].median()
fetal_df['N_HIJOSM'] = fetal_df['N_HIJOSM'].replace(0, mediana_hijosm)

Por ultimo, se verifica que *C_BAS1* y *COD_MUNIC* tengan valores validos

In [113]:
municipios_df = pd.read_csv("RegionesFormato.csv")
codigosMunicipio = set(municipios_df["CÓDIGO DANE DEL MUNICIPIO"].unique())


municipiosFetal = set(fetal_df["COD_MUNIC"].unique())

municipiosFaltantes = municipiosFetal - codigosMunicipio

print(len(municipiosFaltantes))

0

Con base en esto, podemos ver que todos los municipios son validos

In [114]:
enfermedades_df = pd.read_excel("Cie.xls", skiprows=6)
codigosEnfermedades = set(enfermedades_df["COD_4"].unique())


enfermedadesFetal = set(fetal_df["C_BAS1"].unique())

enfermedadesFaltantes = enfermedadesFetal - codigosEnfermedades

print(len(enfermedadesFaltantes))

0

De igual forma, se puede evidenciar que todas las enfermedades existen en la fuente externa y por lo tanto son valores validos

## 2.1.4. Análisis de consistencia

Existen varios problemas de consistencia al tratar a los valores nulos. A continuación se iran mencionando y corrigiendo

- Uso de "Ignorado" y "Desconocido" cuando ambos hacen referencia a lo mismo

In [ ]:
enfermedades_df["ASIS_MED"] = enfermedades_df["ASIS_MED"].replace(3, 9)
enfermedades_df["MU_PARTO"] = enfermedades_df["MU_PARTO"].replace(4, 9)
enfermedades_df["T_GES"] = enfermedades_df["T_GES"].replace(6, 9)
enfermedades_df["T_GES_AGRU_CIE"] = enfermedades_df["T_GES_AGRU_CIE"].replace(6, 9)
enfermedades_df["T_PARTO"] = enfermedades_df["T_PARTO"].replace(4, 9)

- En *P_PMAN_IRIS*, los valores  5 = No se pudo determinar  y 6 = Desconocido (No completado)  ofrecen la misma informacion

In [ ]:
enfermedades_df["P_PMAN_IRIS"] = enfermedades_df["P_PMAN_IRIS"].replace(4, 5)

- Existen valores nulos, pese a que existen atributos para denotar carencia de información

In [ ]:
enfermedades_df["AREA_RES"].fillna(9, inplace=True)
enfermedades_df["N_HIJOSV"].fillna(99, inplace=True)

# 3. Resumen de los cambios realizados