# Análisis de Encuesta Nacional de Calidad de Vida - ECV

## Integrantes - Grupo 15

- Sara Sofia Cárdenas Rodríguez - 202214907
- Daniel Felipe Diaz Moreno - 202210773
- Juan Sebastián Urrea López - 201914710

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y Manipulación básica de los Datos

In [35]:
# Importaciones de bibliotecas
import pandas as pd

In [37]:
personas2017 = pd.read_csv("Personas2017.csv", delimiter=";")
personas2018 = pd.read_csv("Personas2018.csv", delimiter=";")
personas2021 = pd.read_csv("Personas2021.csv", delimiter=",")
personas2022 = pd.read_csv("Personas2022.csv", delimiter=",")

print(f"Las dimensiones de personas2017 son: {personas2017.shape}")
print(f"Las dimensiones de personas2018 son: {personas2018.shape}")
print(f"Las dimensiones de personas2021 son: {personas2021.shape}")
print(f"Las dimensiones de personas2022 son: {personas2022.shape}")

Las dimensiones de personas2017 son: (767867, 138)
Las dimensiones de personas2018 son: (762753, 137)
Las dimensiones de personas2021 son: (711381, 137)
Las dimensiones de personas2022 son: (865963, 133)

Las variables candidatas descritas en el informe son las siguientes:

- 1. Cabecera, 2. Resto (centros poblados y área rural dispersa) (Clase) 
- Cada una de las 24 a.M., otras cabeceras y resto (Dominio) 
- Dummy capital de departamento. 1: capital 0: no capital (Capital) 
- Estrato de energía para las 13 a.M., y sextil de icv para otras cabeceras y resto (Estrato1) 
- Sexo (P6020) 
- ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud? (P6090) 
- ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado: (P6100) 
- ¿Cuál es el nivel educativo más alto alcanzado y el último año o grado aprobado en este nivel? (P6210) 
- Grado escolar aprobado (P6210s1) 
- Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo? (P7150) 
- Población en edad de trabajar 1: sí 0: no (Pet) 
- Ocupado 1: sí (Oc) 


Se procederá a evidenciar si estos atributos se encuentran en los cuatro archivos de datos que se tienen disponibles.

In [58]:
variablesABuscar = set(["Clase","Dominio","P6020", "P6090", "P6100", "P6210", "P6210s1", "P7150", "Pet", "Oc" ])

columnasPersonas2017 = [col.capitalize() for col in personas2017.columns if col.capitalize() in variablesABuscar]
columnasPersonas2018 = [col.capitalize() for col in personas2018.columns if col.capitalize() in variablesABuscar]
columnasPersonas2021 = [col.capitalize() for col in personas2021.columns if col.capitalize() in variablesABuscar]
columnasPersonas2022 = [col.capitalize() for col in personas2022.columns if col.capitalize() in variablesABuscar]

columnasPersonas2017.sort()
columnasPersonas2018.sort()
columnasPersonas2021.sort()
columnasPersonas2022.sort()

print(f"Las columnas de persona2017 son: {columnasPersonas2017}")
print(f"Las columnas de persona2018 son: {columnasPersonas2018}")
print(f"Las columnas de persona2021 son: {columnasPersonas2021}")
print(f"Las columnas de persona2022 son: {columnasPersonas2022}")

columnasEnComun = set(columnasPersonas2017).intersection(set(columnasPersonas2018)).intersection(set(columnasPersonas2021)).intersection(set(columnasPersonas2022))

print(f"Las columnas en común son: {columnasEnComun}")
print(f"Las columnas que no estan en todos los datasets son: {variablesABuscar - columnasEnComun}")

Las columnas de persona2017 son: ['Clase', 'Dominio', 'Oc', 'Pet']
Las columnas de persona2018 son: ['Clase', 'Dominio', 'Oc', 'Pet']
Las columnas de persona2021 son: ['Clase', 'Dominio', 'Oc', 'Pet']
Las columnas de persona2022 son: ['Clase', 'Dominio', 'Oc', 'Pet']
Las columnas en común son: {'Oc', 'Clase', 'Dominio', 'Pet'}
Las columnas que no estan en todos los datasets son: {'P6020', 'P6210s1', 'P6210', 'P7150', 'P6090', 'P6100'}

Con base en esto, se puede observar que no se encentran los siguientes atributos.


- Sexo (P6020) 
- ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel? (P6210)
- Grado escolar aprobado (P6210s1) 

Fue posible encontrar el atributo sexo (p3271), el cual funge el mismo rol que P6020. Por lo tanto, se procederá a reemplazar P6020 por p3271 para el año 2022  
Fue posible encontrar el atributo ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel? (p3042), el cual funge el mismo rol que P6210. Por lo tanto, se procederá a reemplazar P6210 por p3042 para el año 2022  
Fue posible encontrar el atributo Grado (p3042s1), el cual funge el mismo rol que P6210s1. Por lo tanto, se procederá a reemplazar P6210s1 por p3042s1 para el año 2022

In [39]:
columnasPersonas2022.append("P3271")
columnasPersonas2022.append("P3042")
columnasPersonas2022.append("P3042s1")

Asimismo, para facilitiar su análisis, se procederá a cambiar sus nombres

In [ ]:
personas2017.columns = [col.capitalize() for col in personas2017.columns]
personas2018.columns = [col.capitalize() for col in personas2018.columns]
personas2021.columns = [col.capitalize() for col in personas2021.columns]
personas2022.columns = [col.capitalize() for col in personas2022.columns]

idANombre = {
    'P7150':'Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?',
    'P6090':'¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?',
    'P6100':'¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?',
    'P6020': 'sexo',
    'P6210': '¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?',
    'P6210s1': 'Grado',
    'P3271': 'sexo',
    'P3042': '¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?',
    'P3042s1': 'Grado',
}
columnasPersonas2017 = [idANombre[col] if col in idANombre else col for col in columnasPersonas2017]
columnasPersonas2018 = [idANombre[col] if col in idANombre else col for col in columnasPersonas2018]
columnasPersonas2021 = [idANombre[col] if col in idANombre else col for col in columnasPersonas2021]
columnasPersonas2022 = [idANombre[col] if col in idANombre else col for col in columnasPersonas2022]



personas2017.rename(columns=idANombre, inplace=True)
personas2018.rename(columns=idANombre, inplace=True)
personas2021.rename(columns=idANombre, inplace=True)
personas2022.rename(columns=idANombre, inplace=True)

10 columnas en personas2017
10 columnas en personas2018
10 columnas en personas2021
10 columnas en personas2022

Con esto, a continuación se presenta una muestra para cada uno de los archivos de datos disponibles.

In [41]:
personas2017[columnasPersonas2017].sample(10)

,Clase,Dominio,Oc,sexo,"¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?",¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?,¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?,Grado,"Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?",Pet
423456,1,Neiva,,2,1,1,5,11,,1
187188,1,Cucuta,1,1,1,3,3,2,,1
183095,2,Rural,1,1,1,3,4,0,,1
202206,1,Cali,1,1,1,3,3,5,,1
282374,1,Cartagena,1,2,1,1,3,3,,1
96588,1,Barranquilla,1,1,1,3,5,11,,1
254558,1,Montería,,2,1,3,1,0,,1
196692,1,Neiva,1,1,1,1,6,4,,1
587164,1,Villavicencio,,1,,,,,,
216833,1,Tunja,,1,1,1,3,5,,1

In [42]:
personas2018[columnasPersonas2018].sample(10)

,Clase,Dominio,Oc,sexo,"¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?",¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?,¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?,Grado,"Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?",Pet
355591,1,FLORENCIA,1,1,1,3,6,1,,1
258244,1,SANTA MARTA,1,2,1,1,6,5,,1
684477,1,PASTO,1,1,1,1,6,5,,1
536197,1,RIOHACHA,,1,1,2,4,9,,1
704863,1,CUCUTA,,1,,,,,,
48117,2,RURAL,1,2,1,3,1,0,,1
165123,1,BUCARAMANGA,1,1,1,1,6,3,2,1
3183,1,MANIZALES,1,2,1,1,5,11,2,1
40762,1,RESTO URBANO,,2,,,3,,,
265570,1,SINCELEJO,1,1,1,1,6,7,,1

In [43]:
personas2021[columnasPersonas2021].sample(10)

,Clase,Dominio,Oc,sexo,"¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?",¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?,¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?,Grado,"Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?",Pet
208975,1,BARRANQUILLA,1.0,1,1.0,3.0,5.0,11.0,1.0,1.0
244125,1,MEDELLIN,NaN,2,NaN,NaN,2.0,NaN,NaN,NaN
57286,1,SANTA MARTA,1.0,2,1.0,3.0,6.0,2.0,2.0,1.0
413114,1,VILLAVICENCIO,NaN,1,2.0,NaN,6.0,2.0,NaN,1.0
554460,2,RURAL,NaN,2,1.0,3.0,6.0,2.0,NaN,1.0
391328,1,RIOHACHA,NaN,2,1.0,3.0,5.0,11.0,NaN,1.0
276064,1,BOGOTA,NaN,2,1.0,1.0,6.0,5.0,NaN,1.0
433691,1,MONTERIA,1.0,2,1.0,3.0,3.0,5.0,NaN,1.0
76464,1,CARTAGENA,NaN,1,1.0,3.0,5.0,10.0,NaN,1.0
160081,1,MEDELLIN,NaN,2,1.0,1.0,3.0,5.0,NaN,1.0

In [44]:
personas2022[columnasPersonas2022].sample(10)

,Clase,Dominio,Oc,"¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?",¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?,"Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?",Pet,sexo,¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?,Grado
519688,1,MANIZALES,1.0,1,2.0,NaN,1.0,2,10.0,10.0
803868,1,CUCUTA,NaN,1,3.0,NaN,1.0,1,1.0,0.0
563438,1,RESTO URBANO,NaN,1,1.0,NaN,1.0,2,5.0,2.0
393672,1,BUCARAMANGA,NaN,1,2.0,NaN,1.0,2,4.0,2.0
780123,1,RESTO URBANO,NaN,1,2.0,NaN,1.0,2,3.0,5.0
818424,1,RIOHACHA,1.0,1,1.0,1.0,1.0,2,10.0,10.0
467687,1,VILLAVICENCIO,NaN,1,1.0,NaN,NaN,1,3.0,1.0
513437,2,RURAL,NaN,1,3.0,NaN,NaN,2,3.0,4.0
20668,1,SINCELEJO,NaN,1,3.0,NaN,1.0,2,4.0,2.0
387400,1,RESTO URBANO,NaN,1,3.0,NaN,1.0,2,3.0,2.0

Observamos que muchos datos son nulos, esto se debe a que varias preguntas son mutuamente excluyentes, y otras son dependientes de otras

Posteriormente, se muestra el tipo de dato para cada atributo por cada archivo de datos.

In [45]:
personas2017[columnasPersonas2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767867 entries, 0 to 767866
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               767867 non-null  int64
 1   Dominio                                                                                             767867 non-null  object
 2   Oc                                                                                                  767867 non-null  object
 3   sexo                                                                                                767867 non-null  int64
 4   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      767867 non-null  object
 5   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     767867 non-null  object
 6   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  767867 non-null  object
 7   Grado                                                                                               767867 non-null  object
 8   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           767867 non-null  object
 9   Pet                                                                                                 767867 non-null  object
dtypes: int64(2), object(8)
memory usage: 58.6+ MB

In [46]:
personas2018[columnasPersonas2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762753 entries, 0 to 762752
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               762753 non-null  int64
 1   Dominio                                                                                             762753 non-null  object
 2   Oc                                                                                                  762753 non-null  object
 3   sexo                                                                                                762753 non-null  int64
 4   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      762753 non-null  object
 5   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     762753 non-null  object
 6   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  762753 non-null  object
 7   Grado                                                                                               762753 non-null  object
 8   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           762753 non-null  object
 9   Pet                                                                                                 762753 non-null  object
dtypes: int64(2), object(8)
memory usage: 58.2+ MB

In [47]:
personas2021[columnasPersonas2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711381 entries, 0 to 711380
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               711381 non-null  int64
 1   Dominio                                                                                             711381 non-null  object
 2   Oc                                                                                                  292706 non-null  float64
 3   sexo                                                                                                711381 non-null  int64
 4   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      594246 non-null  float64
 5   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     551386 non-null  float64
 6   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  685403 non-null  float64
 7   Grado                                                                                               594246 non-null  float64
 8   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           72125 non-null   float64
 9   Pet                                                                                                 594246 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 54.3+ MB

In [48]:
personas2022[columnasPersonas2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865963 entries, 0 to 865962
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               865963 non-null  int64
 1   Dominio                                                                                             865963 non-null  object
 2   Oc                                                                                                  358842 non-null  float64
 3   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      865963 non-null  int64
 4   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     816065 non-null  float64
 5   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           82355 non-null   float64
 6   Pet                                                                                                 673500 non-null  float64
 7   sexo                                                                                                865963 non-null  int64
 8   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  834496 non-null  float64
 9   Grado                                                                                               834496 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 66.1+ MB

Vemos que hay problemas de consistencia en los tipos de datos, pues los atributos enteros de 2021 y 2022 aparecen como textos en 2017 y 2018. Al usar la siguiente linea de codigo, se ve que los valores nulos se toman como " ", por tal razon se procedera a reemplazar estos valores por valores nulos

In [50]:
personas2017["Grado"].unique()

array(['2', '11', '5', '3', ' ', '8', '7', '4', '6', '1', '10', '9', '0',
       '13', '12', '15', '14', '99'], dtype=object)

In [51]:
for col in columnasPersonas2017:
    personas2017[col] = pd.to_numeric(personas2017[col], errors="coerce")

for col in columnasPersonas2018:
    personas2018[col] = pd.to_numeric(personas2018[col], errors="coerce")

In [52]:
personas2017[columnasPersonas2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767867 entries, 0 to 767866
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               767867 non-null  int64
 1   Dominio                                                                                             0 non-null       float64
 2   Oc                                                                                                  352042 non-null  float64
 3   sexo                                                                                                767867 non-null  int64
 4   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      629479 non-null  float64
 5   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     588844 non-null  float64
 6   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  735244 non-null  float64
 7   Grado                                                                                               629479 non-null  float64
 8   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           90417 non-null   float64
 9   Pet                                                                                                 629479 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 58.6 MB

In [53]:
personas2018[columnasPersonas2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762753 entries, 0 to 762752
Data columns (total 10 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   Clase                                                                                               762753 non-null  int64
 1   Dominio                                                                                             0 non-null       float64
 2   Oc                                                                                                  348015 non-null  float64
 3   sexo                                                                                                762753 non-null  int64
 4   ¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?      628486 non-null  float64
 5   ¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?                     586224 non-null  float64
 6   ¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?  730826 non-null  float64
 7   Grado                                                                                               628486 non-null  float64
 8   Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?                           83676 non-null   float64
 9   Pet                                                                                                 628486 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 58.2 MB

Finalmente, se unen los 4 datasets en uno unico, para facilitar el analisis de los datos

In [54]:
personas2017['año'] = 2017
personas2018['año'] = 2018
personas2021['año'] = 2021
personas2022['año'] = 2022

personas_df = pd.concat([personas2017[columnasPersonas2017 + ["año"]], personas2018[columnasPersonas2018+ ["año"]], personas2021[columnasPersonas2021+ ["año"]], personas2022[columnasPersonas2022+ ["año"]]], axis=0)
personas_df.reset_index(drop=True, inplace=True)
personas_df.sample(10)

,Clase,Dominio,Oc,sexo,"¿Está afiliado, es cotizante o es beneficiario de alguna entidad de seguridad social en salud?",¿A cuál de los siguientes regímenes de seguridad social en salud está afiliado?,¿Cuál es el nivel educativo más alto alcanzado por y el último año o grado aprobado en este nivel?,Grado,"Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?",Pet,año
1921635,1,RIOHACHA,1.0,2,2.0,NaN,4.0,9.0,2.0,1.0,2021
2335296,1,ARMENIA,NaN,2,1.0,1.0,NaN,NaN,NaN,NaN,2022
1272025,1,NaN,1.0,2,1.0,1.0,6.0,1.0,NaN,1.0,2018
2108647,1,POPAYAN,NaN,2,1.0,1.0,3.0,5.0,NaN,1.0,2021
751590,1,NaN,1.0,1,1.0,3.0,6.0,3.0,2.0,1.0,2017
1235238,1,NaN,NaN,2,1.0,3.0,4.0,6.0,NaN,1.0,2018
147277,1,NaN,NaN,1,1.0,3.0,4.0,7.0,NaN,1.0,2017
1522670,1,NaN,1.0,2,1.0,1.0,6.0,9.0,NaN,1.0,2018
1686795,1,CARTAGENA,1.0,1,1.0,3.0,5.0,11.0,NaN,1.0,2021
579643,1,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2017

## 2. Entendimiento de los datos

## 2.1. Análisis de calidad de datos

## 2.1.1. Análisis de completitud
A continuación, se presentan los porcentajes de completitud e incompletitud para cada uno de los atributos.

In [55]:
porcentajeIncompletitudAtributo =  (100 * personas_df.isnull().sum() / personas_df.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Atributo": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
    "Incompletitud (%)": porcentajeIncompletitudAtributo.values
})

,Atributo,Completitud (%),Incompletitud (%)
0,"Durante las últimas 4 semanas, ¿hizo diligenci...",10.571969,89.428031
1,Oc,43.488438,56.511562
2,Dominio,50.751682,49.248318
3,Pet,81.265774,18.734226
4,¿A cuál de los siguientes regímenes de segurid...,81.806578,18.193422
5,Grado,86.445885,13.554115
6,"¿Está afiliado, es cotizante o es beneficiario...",87.458349,12.541651
7,¿Cuál es el nivel educativo más alto alcanzado...,96.074761,3.925239
8,Clase,100.000000,0.000000
9,sexo,100.000000,0.000000
10,año,100.000000,0.000000

Si bien se ve una alta incompletitud en el atributo Durante las últimas 4 semanas, ¿hizo diligencias para cambiar de trabajo?  , se decidió no eliminarlo. Debido a que si bien es un porcentaje bajo, existe un gran numero de datos

## 2.1.2. Análisis de unicidad
A continuación, se buscará determinar cuántas filas duplicadas hay en el dataset

In [56]:
registrosDuplicados = personas_df.duplicated()
totalDuplicados = registrosDuplicados.sum()
totalOpiniones = personas_df.shape[0]
porcentajeDuplicados = 100.0 * totalDuplicados / totalOpiniones
print(f"Se cuenta con {totalDuplicados} registros duplicados ({porcentajeDuplicados:.2f}%)")

Se cuenta con 3061697 registros duplicados (98.51%)

Los datos presentan un alto porcentaje de duplicados. Sin embargo no se eliminaran debido a que tambien ofrecen información valiosa, ya que permitiran evidenciar patrones

# 4. Cambios propuestos


## Dim_Encuestado_personas

**Fuente de datos**  
Personas2017, Personas2018, Personas2021

campos  
- P6020
- P6100
- P6210
- P6210s1

**Extraer informacion de**  
Personas2017, Personas2018, Personas2021

**Transformaciones**

1. Renombrar P6020 a sexo
2. Renombrar P6100 a regimen_seguridad_social
3. Renombrar P6210 a maximo_nivel_educativo
4. Renombrar P6210s1 a maximo_año_o_grado_aprobado

Destino de datos: Dim_Encuestado_personas

Campos:
- sexo
- regimen_seguridad_social
- maximo_nivel_educativo
- maximo_año_o_grado_aprobado


**Fuente de datos**  
Personas2022

campos  
- P3271
- P6100
- P6210
- P6210s1

**Extraer informacion de**  
Personas2022

**Transformaciones**

1. Renombrar P3271 a sexo
2. Renombrar P6100 a regimen_seguridad_social
3. Renombrar P6210 a maximo_nivel_educativo
4. Renombrar P6210s1 a maximo_año_o_grado_aprobado

Destino de datos: Dim_Encuestado_personas

Campos:
- sexo
- regimen_seguridad_social
- maximo_nivel_educativo
- maximo_año_o_grado_aprobado



## Hecho_Encuesta_Personas
**Fuente de datos**  
Personas2017, Personas2018, Personas2021, Personas2022

Campos
- Estrato1
- P7150
- Pet
- Ocupado	

**Extraer informacion de**  
Personas2017, Personas2018

**Transformaciones**
1. Renombrar Estrato1 a estrato_energia
2. Renombrar P7150 a busca_trabajo
3. Renombrar Pet a en_edad_de_trabajar

Destino de datos: Hecho_Encuesta_Personas

Campos:
- estrato_energia
- busca_trabajo
- en_edad_de_trabajar
- ocupado